# Doctrina
doctrina/static/avatar/*
doctrina/static/resource/*
doctrina/static/files_for_testing/*
doctrina/static/thumbnail/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/