<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{e.code}} {{e.name}}</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<main class="px-3">
			<h1>{{e.code}} {{e.name}}</h1>
			{% if e.code == 404 %}
				<pre class="lead text-white">This is not the page you are looking for </pre>
			{% endif %}
			<pre class="lead text-white">{{e.description}}{% if e.code == 500 %}
				<br> Please contact the page admin
			{% endif %}</pre>
			{% if e.code != 500 %}
			<p class="lead">
				<a href="{{url_for('home')}}" class="btn btn-lg btn-secondary fw-bold border-grey bg-grey">Back
					to home</a>
			</p>
			{% endif %}
			{% if fail %}
			<p class="lead">
				{{fail}}
			</p>
			{% endif %}
		</main>
	</div>
</body>

</html>