<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>403 Forbidden</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<main class="px-3">
			<h1>403 Forbidden</h1>
			<p class="lead">You do not have access to this page</p>
			<p class="lead">
				<a href="{{url_for('home')}}" class="btn btn-lg btn-secondary fw-bold border-grey bg-grey">Return
					Home</a>
			</p>
		</main>
	</div>
</body>

</html>