{% extends 'base.html' %}

{% block style %}
    <style>
        .banner-image {
            position: relative;
            display: block;
        }

    </style>
    <style>
    /* Styling for card hover and animations*/
        .box {
            position: relative;
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,.125);
            display: inline-block;
            background-color: #fff;
            -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .box::after {
            content: "";
            border-radius: 5px;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            opacity: 0;
            -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .box:hover {
            -webkit-transform: scale(1.01, 1.01);
            transform: scale(1.01, 1.01);
        }

        .box:hover::after {
            opacity: 1;
        }


    </style>
{% endblock %}

{% block script %}

    <script>
        //Dropdown menu
        $(function () {

            $(".dropdown-menu a").click(function () {

                $("#dropdownMenuButton1").text($(this).text());
                $("#dropdownMenuButton1").val($(this).text());
            });

        });
    </script>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 1rem!important;">
        <!-- Profile Image/Background -->
        <div class="row text-center" style="">
            <div class="banner-visible-area">
                <div class="card" style = "background-color: #fbfbfb; margin-top:12px!important;">
                    <img src="{{ url_for("static", filename=user['profile_background_link'])}}" class="banner-image" height="250">
                    <div class="row pe-5" style="margin-top: 1rem">
                        <div class="col-2">
                            <img src="{{ url_for('static', filename=user['avatar_link']) }}" width="100px" height="100px" style="margin-top:6px; margin-bottom: 0.5rem; border-radius: 15%">
                        </div>
                    <div class="col-8">
                          <p class="h4" style="text-align: left">{{ user['username']}}</p>
                            {% if is_user_themself %}
                                 <p class="h6" style="text-align: left">{{ user['email'] }}</p>
                            {% endif %}
                          <div class="card-body overflow-auto" style="max-height: 350px; text-align: justify; margin: 1rem 0 0 0; padding: 0; margin-right: 1.2rem!important;">
                              <p class="h6">{{ user['bio'] }}</p>
                          </div>
                      </div>
                    {% if is_user_themself %}
                        <div class="col">
                            <div class="row" style="padding: 5px; margin-top: 0.5rem">
                                <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('settings', uid=user['uid']) }}'">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="margin-right: 6px; margin-bottom: 2px" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"></path>
                                    </svg> Account Settings
                                </button>
                            </div>
                            <div class="row" style="padding: 5px; margin-top: 0.5rem; margin-bottom: 0.5rem">
                                <button type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('logout') }}'">
                                    Sign Out
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


        <!-- Rest of page -->
        <div class="row p-3" style="margin-top: 12px!important; margin-left: 0px!important;">
            <!-- Left Sidebar -->
            <div class="col-3">

                <!-- Educator Rating -->
                <div class="row pe-5" style="margin-bottom: 1rem">
                    <div class="card" style = "background-color: #fbfbfb">
                        <p class="h5" style="margin-top: 1rem;  margin-bottom: 0rem!important">Educator Rating</p>
                        <div class="card-body overflow-auto" style="padding-left:12px!important;">
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                            {% for i in range(rating_whole) %}
                                <!-- These ones for filled stars -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" style="color: orange" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                </svg>
                            {% endfor %}

                            <!-- This one for half-filled star -->
                            {% for i in range(rating_half) %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" style="color: orange" viewBox="0 0 16 16">
                                    <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"></path>
                                </svg>
                            {% endfor %}

                            <!-- This one for unfilled star -->
                            {% for i in range(rating_unchecked) %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" style="color: orange" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                                </svg>
                            {% endfor %}
                            ({{ user['user_rating'] }}/5)
                            <div class = "row">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">How is this calculated?</a>
                                <!-- Modal -->
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Honour Rating</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Your user honour rating is calculated based on the performance of all your created resources, measured by your total upvotes and downvotes.
                                            In particular, the honour system is calculated based on your (total # votes) / (total # downvotes). <br>Below are the rating thresholds. <br>
                                            <br>
                                            1 Star: Ratio of total votes to downvotes between 0 and 2 <br>
                                            2 Stars: Ratio of total votes to downvotes between 2 and 9 <br>
                                            3 Stars: Ratio of total votes to downvotes between 9 and 21 <br>
                                            4 Stars: Ratio of total votes to downvotes between 21 and 34 <br>
                                            5 Stars: Ratio of total votes to downvotes above 34 <br>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <!-- Tags -->
                <div class="row pe-5">
                    <div class="card" style="background-color: #fbfbfb">
                        <p class="h5" style="margin-top: 1rem; margin-left: 0px!important; margin-bottom: 0rem!important;">Tags</p>
                        <div class="card-body overflow-auto" style="padding-left:12px!important;">
                            <div class="col-7" style="width: auto">
                                {% for ta in teaching_areas %}
                                    <span class="badge rounded-pill bg-primary" style="width: auto;
                                      margin: 0.25rem!important;">{{ enum_to_website_output(ta.teaching_area.name) }} </span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% if is_user_themself %}
            <!-- All Resource Content -->
        <div class="col" style="padding: 0">
            <div class="card" style = "background-color: #fbfbfb">
                <div class="card-body">
                    <div class="row">
                        <!-- Resource/Channel Headings -->
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio"  id="myResourceChecked" autocomplete="off" checked="">
                            <label class="btn btn-outline-primary" for="btnradio1" id="myResourceBtn" onclick="unCheckAllButThis(this);">My
                                Resources</label>

                            <input type="radio" class="btn-check" name="btnradio"  autocomplete="off"  id="myChannelChecked">
                            <label class="btn btn-outline-primary" for="btnradio2" id="myChannelBtn" onclick="unCheckAllButThis(this);">My Channels</label>

                            <input type="radio" class="btn-check"  name="btnradio" autocomplete="off" id="privateResourceChecked">
                            <label class="btn btn-outline-primary" for="btnradio3" id="privateResourceBtn" onclick="unCheckAllButThis(this);">Private Resources</label>

                            <input type="radio" class="btn-check" name="btnradio"  autocomplete="off" id="privateChannelChecked">
                            <label class="btn btn-outline-primary" for="btnradio4" id="privateChannelBtn" onclick="unCheckAllButThis(this);">Private Channels</label>
                        </div>

                            <script>
                                // try to checked current item and unchecked others
                                function unCheckAllButThis(checked_item) {
                                    var buttonID = checked_item.id.slice(0, -3) + "Checked";
                                    console.log(buttonID);
                                    document.getElementById(buttonID).click();
                                }
                            </script>
                        </div>
                    </div>
                    <!-- Search Bar -->
                    <div class="row" style="margin-bottom: 1rem!important; margin-top: 0.5rem">
                        <div class="col d-flex justify-content-md-between" style="margin-left: 4px">
                            <div class="input-group" style="padding: inherit;">
                                <input type="search" name="title" class="form-control" placeholder="Search" id="search_content" style="height: 2.5rem">
                            </div>
                        </div>
                        <!-- Sort By -->
                        <div class="d-flex col-3" style="padding-top: 0rem!important">
                            <p class="h7" style="padding-top: 0.5rem!important;">Sort by</p>
                            <div class="dropdown px-3">
                                <select class="btn btn-primary dropdown-toggle" style="min-width: 100px; height: 90%" type="button" id="sort_order" data-bs-toggle="dropdown" aria-expanded="false">
                                    <option class="dropdown-item" value="descending" selected>Newest</option>
                                    <option class="dropdown-item" value="ascending">Oldest</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <script type="text/template" id="studio_card">
                        <% _.each(data, function(res) { %>
                        <!-- Individual card (Put the template stuff here) -->
                        <div class="box shadow-sm flex-fill" style="margin: 1.1rem; margin-bottom: 0.55rem!important; margin-top: 0.55rem!important; color: black" id="result">
                            <a class="row" >
                                <!-- Thumbnail for a channel.  -->
                                <div class="col-2" style="width: 12%" onclick="location.href = '<%= res.view_link %>'">
                                    <img src="{{ url_for('static', filename='') }}/<%= res['avatar_link']%>"
                                         alt="Logo" width="60" height = "55" style="margin:10px!important; margin-left:15px!important; margin-right: 15px!important;">
                                </div>

                                <div class="col-3" style="margin-top: 10px!important; margin-bottom: 5px!important;" onclick="location.href = '<%= res.view_link %>'">
                                    <!-- Title -->
                                    <div class = "row">
                                        <div class="fw-bold" style="padding: 0rem!important; font-size: small" onclick="location.href = '<%= res.view_link %>'">
                                            <%= res['title'] %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" style="margin-top: 10px!important; margin-bottom: 5px!important;" onclick="location.href = '<%= res.view_link %>'">
                                    <!-- Date Created -->
                                    <div class = "row">
                                        <div class="fw-bold" style="padding: 0rem!important; font-size: small">
                                            Date Created
                                        </div>
                                    </div>
                                    <div class = "row">
                                        <div style="padding: 0rem!important; font-size: small">
                                            <%= res['created_at'] %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" style="margin-top: 10px!important; margin-bottom: 5px!important;" onclick="location.href = '<%= res.view_link %>'">
                                    <!-- Privacy Status -->
                                    <div class = "row">
                                        <div class="fw-bold" style="padding: 0rem!important; font-size: small">
                                            Privacy
                                        </div>
                                    </div>
                                    <div class = "row">
                                        <div style="padding: 0rem!important; font-size: small">
                                            <%= res["is_public"] %>
                                        </div>
                                    </div>
                                </div>

                                <div class="col" style="margin-top: 10px!important; margin-bottom: 5px!important;">
                                    <!-- Manage -->
                                    <div class = "row text-center">
                                        <% if (res.manage_link != null) { %>
                                        <button type="button" class="btn btn-primary" style="width: 50%; margin: auto; margin-top: 5px!important; margin-bottom: 5px!important;"
                                                onclick="location.href = '<%= res.manage_link %>';">Manage</button>
                                        <% } %>
                                    </div>

                                </div>
                            </a>
                        </div>
                        <% }); %>
                    </script>

                    <!-- Items / cards (Don't delete the div below) -->
                    <div class="col d-flex justify-content-md-between" >
                        <div class = "card flex-fill" style="background-color: #fbfbfb; border: 0px" id = "result">

                        </div>

                    </div>

                    <script>
                        // global variables that stores the studio options

                        // default load my resource
                        var load_type = "resource";
                        var create_or_access = "create";
                        var search_term = "";
                        // default sort by newest date order
                        var sort_algo = "descending";

                        // initialization
                        $(document).ready(function () {
                            $.ajax(
                                {
                                    type: "GET",
                                    url: "{{ url_for('load_studio_contents') }}",
                                    data: {
                                        "load_type": load_type,
                                        "create_or_access": create_or_access,
                                        "title": search_term,
                                        "sort_algo": sort_algo,
                                        "uid": {{ user['uid'] }}
                                    },
                                    success: function (response) {
                                        $("#result").empty();
                                        var studio_card = _.template($("#studio_card").html());
                                        $("#result").html(studio_card({ data: response }));
                                        if (response.length === 0) {
                                            $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                                        }
                                    }
                                })
                        });


                        // key up search bar
                        $(document).on("keyup", "#search_content", function (e) {
                            search_term = $('input[name=title]').val();
                            $.ajax(
                                {
                                    type: "GET",
                                    url: "{{ url_for('load_studio_contents') }}",
                                    data: {
                                        "load_type": load_type,
                                        "create_or_access": create_or_access,
                                        "title": search_term,
                                        "sort_algo": sort_algo,
                                        "uid": {{ user['uid'] }}
                                    },
                                    success: function (response) {
                                        $("#result").empty();
                                        var studio_card = _.template($("#studio_card").html());
                                        $("#result").html(studio_card({ data: response }));
                                        if (response.length === 0) {
                                            $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                                        }
                                    }
                                }
                            )
                        });


                        // pressed myResource
                        $(document).on("click", "#myResourceBtn", function (e) {
                            load_type = "resource";
                            create_or_access = "create";
                            $.ajax(
                                {
                                    type: "GET",
                                    url: "{{ url_for('load_studio_contents') }}",
                                    data: {
                                        "load_type": load_type,
                                        "create_or_access": create_or_access,
                                        "title": search_term,
                                        "sort_algo": sort_algo,
                                        "uid": {{ user['uid'] }}
                                    },
                                    success: function (response) {
                                        $("#result").empty();
                                        var studio_card = _.template($("#studio_card").html());
                                        $("#result").html(studio_card({ data: response }));
                                        if (response.length === 0) {
                                            $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                                        }
                                    }
                                })
                        });

                        // pressed privateResource
                        $(document).on("click", "#privateResourceBtn", function (e) {
                            load_type = "resource";
                            create_or_access = "access";
                            $.ajax(
                                {
                                    type: "GET",
                                    url: "{{ url_for('load_studio_contents') }}",
                                    data: {
                                        "load_type": load_type,
                                        "create_or_access": create_or_access,
                                        "title": search_term,
                                        "sort_algo": sort_algo,
                                        "uid": {{ user['uid'] }}
                                    },
                                    success: function (response) {
                                        $("#result").empty();
                                        var studio_card = _.template($("#studio_card").html());
                                        $("#result").html(studio_card({ data: response }));
                                        if (response.length === 0) {
                                            $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                                        }
                                    }
                                })
                        });

                        // pressed myChannel
                        $(document).on("click", "#myChannelBtn", function () {
                            load_type = "channel";
                            create_or_access = "create";
                            $.ajax(
                                {
                                    type: "GET",
                                    url: "{{ url_for('load_studio_contents') }}",
                                    data: {
                                        "load_type": load_type,
                                        "create_or_access": create_or_access,
                                        "title": search_term,
                                        "sort_algo": sort_algo,
                                        "uid": {{ user['uid'] }}
                                    },
                                    success: function (response) {
                                        $("#result").empty();
                                        var studio_card = _.template($("#studio_card").html());
                                        $("#result").html(studio_card({ data: response }));
                                        if (response.length === 0) {
                                            $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                                        }
                                    }
                                })
                        });

                        // pressed privateChannel
                        $(document).on("click", "#privateChannelBtn", function () {
                            load_type = "channel";
                            create_or_access = "access";
                            $.ajax(
                                {
                                    type: "GET",
                                    url: "{{ url_for('load_studio_contents') }}",
                                    data: {
                                        "load_type": load_type,
                                        "create_or_access": create_or_access,
                                        "title": search_term,
                                        "sort_algo": sort_algo,
                                        "uid": {{ user['uid'] }}
                                    },
                                    success: function (response) {
                                        $("#result").empty();
                                        var studio_card = _.template($("#studio_card").html());
                                        $("#result").html(studio_card({ data: response }));
                                        if (response.length === 0) {
                                            $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                                        }
                                    }
                                })
                        });

                        // sort by order changes
                        $(document).on("change", "#sort_order", function (e) {
                            sort_algo = $("#sort_order").find(":selected").val();
                            $.ajax(
                                {
                                    type: "GET",
                                    url: "{{ url_for('load_studio_contents') }}",
                                    data: {
                                        "load_type": load_type,
                                        "create_or_access": create_or_access,
                                        "title": search_term,
                                        "sort_algo": sort_algo,
                                        "uid": {{ user['uid'] }}
                                    },
                                    success: function (response) {
                                        $("#result").empty();
                                        var studio_card = _.template($("#studio_card").html());
                                        $("#result").html(studio_card({ data: response }));
                                        if (response.length === 0) {
                                            $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                                        }
                                    }
                                })
                        });
                    </script>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
 </div>
{% endblock %}
