{% extends 'base.html' %}

{% block script %}
    <script>
        // Tags button
        function tagChecked(checkboxElem) {
            id = checkboxElem.id + '____s';
            other = document.getElementById(id)
            tagId = checkboxElem.name + '_selected';
            otherTag = document.querySelector('[title='+tagId+']')
            myTagId = checkboxElem.name + '_search';
            myTag = document.querySelector('[title='+myTagId+']')
            if (checkboxElem.checked) {
                other.checked = false;
                otherTag.hidden = false;
                myTag.hidden = true;
            } else {
                other.checked = true;
                otherTag.hidden = true;
                myTag.hidden = false;
            }
        }
        function tagCheckedSelected(checkboxElem) {
            id = checkboxElem.id.replace('____s', '');
            other = document.getElementById(id)
            tagId = checkboxElem.name + '_search';
            otherTag = document.querySelector('[title='+tagId+']')
            myTagId = checkboxElem.name + '_selected';
            myTag = document.querySelector('[title='+myTagId+']')
            if (checkboxElem.checked) {
                other.checked = false;
                var search_term = $('input[name=tags]').val().toLowerCase();
                if (otherTag.title.toLowerCase().indexOf(search_term) > -1) {
                    otherTag.hidden = false;
                } else {
                    otherTag.hidden = true;
                }
                if (search_term == '') {
                    otherTag.hidden = true;
                }
                myTag.hidden = true;
            } else {
                other.checked = true;
                otherTag.hidden = true;
                myTag.hidden = false;
            }
        }


        // Tags search
        $(document).on("keyup", "#search_tags", function (e) {
            var search_term = $('input[name=tags]').val().toLowerCase();
            var spanBoxes = document.getElementsByClassName('tagSearchSpan');
            for (var i = 0; i < spanBoxes.length; i++) {
                box = spanBoxes[i];
                if (search_term == '') {
                    box.hidden = true;
                } else if (box.title.toLowerCase().indexOf(search_term) > -1) {
                    tagId = box.title.replace('_search', '_selected');
                    try {
                        otherTag = document.querySelector('[title='+tagId+']')
                        if(otherTag.hidden){
                            box.hidden = false;
                        }else{
                            box.hidden = true;
                        }
                    } catch (err) {
                        box.hidden = true;
                    }
                } else {
                    box.hidden = true;
                }
            }
        });
        // Seed Document
        $(document).ready(function () {
            var search_term = $('input[name=tags]').val().toLowerCase();
            var spanBoxes = document.getElementsByClassName('tagSearchSpan');
            for (var i = 0; i < spanBoxes.length; i++) {
                box = spanBoxes[i];
                if (box.title.toLowerCase().indexOf(search_term) > -1) {
                    box.hidden = false;
                } else {
                    box.hidden = true;
                }
                if (search_term == '') {
                    box.hidden = true;
                }
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 3rem!important; margin-top: 1rem!important;  padding-left: 200px; padding-right: 200px">
        <!-- Title Section -->
        <div class="row">
            <dt class="col-sm-9" style="font-size: x-large; margin-top:2rem!important; margin-bottom: 2rem!important;">
                Account Settings
            </dt>
        </div>

        <div class="col d-flex justify-content-md-between">
            <form name="edit_form" id="edit_form" class="form-outline flex-fill"
                  action="{{ url_for('settings') }}" method="post" enctype="multipart/form-data"
                  onsubmit="return validate_settings()">
                <div class="card flex-fill shadow-sm">
                    <!-- Edit Profile Pic/Banner -->
                    <div class="row">
                        <div class="col">
                            <div class="row pe-5">
                                <div class="col text-center" style="margin-top: 3rem">
                                    <img id="avatar" src="{{ url_for('static', filename=user_info['avatar_link']) }}"
                                         class="profile-image" width="200px" height="200px">
                                </div>
                            </div>
                            <div style="margin-top: 0rem!important;" class="row pe-5">
                                <div class="col text-center">
                                    <input type="file" id="avatar_upload" style="display:none;" name="avatar">
                                    <button type="button" id="avatar_upload_button"
                                            class="btn btn-primary btn" style="margin-top:
                                 1rem; margin-bottom: 1rem; ">Change Profile Picture</button>
                                </div>
                            </div>
                        </div>
                        <div class="col text-center">
                            <div class="row">
                                <div class="col text-center" style="margin-top: 3rem!important;">
                                    <img  src="{{ url_for('static', filename=user_info['profile_background_link']) }}"
                                          class="banner-image" height="200" id="profile_background">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center" style="margin-top: 0rem!important;">
                                    <input type="file" id="background_upload" style="display:none;" name="profile_background">
                                    <button type="button" class="btn btn-primary btn"
                                            id="background_upload_button" style="margin-top: 1rem; margin-bottom: 1rem;
                               ">Change Profile Background</button>
                                </div>
                            </div>
                        </div>
                        {# show upload window when change profile picture or change profile background is clicked #}
                        <script type="text/javascript">
                            $("#avatar_upload_button").click(
                                function () {
                                    $("#avatar_upload").trigger("click");

                                    // show default avatar as thumbnail
                                    $("#avatar").attr("src",
                                        "{{ url_for('static', filename='avatar/default_profile.png') }}");
                                })

                            $('#background_upload_button').click(
                                function () {
                                    $("#background_upload").trigger('click');

                                    // show default profile background as thumbnail
                                    $("#profile_background").attr("src",
                                        "{{ url_for('static', filename='img/placeholder.png') }}")
                                }
                            )
                        </script>
                    </div>
                    <!-- Email -->
                    <div class="mb-3 row" style="margin: 1rem; margin-top: 2rem!important;">
                        <label style="font-size: large; font-weight:inherit; margin-left: 2rem!important;" for="inputInstitution" class="col-sm-2 col-form-label">Email</label>
                        <div class="col">
                            <input class="form-control required" value="{{ user_info['email'] }}" id="email" name="email" type="email">
                        </div>
                    </div>

                    <!-- Username -->
                    <div class="mb-3 row" style="margin: 1rem!important;">
                        <label style="font-size: large; font-weight:inherit; margin-left: 2rem!important;" for="inputPosition" class="col-sm-2 col-form-label">Username</label>
                        <div class="col">
                            <input class="form-control required" value="{{ user_info['username'] }}"
                                   name="username" type="text" id="username">
                        </div>
                    </div>

                    <!-- Bio -->
                    <div class="mb-3" style="margin: 1rem!important;">
                        <label for="Titleform" class="form-label" style="font-weight: inherit;
                    font-size: larger; padding-left: 12px">Edit Bio</label>

                        <textarea class="form-control" rows="7" name="bio" type="text">{{ user_info['bio'] }}</textarea>
                    </div>
                </div>

                <!-- Password -->
                <dt class="col-sm-9" style="font-size: x-large; margin-top:2rem!important; margin-bottom: 1rem!important;">
                    Change Password
                </dt>

                <div class="card flex-fill shadow-sm">
                    <!-- Old Password -->
                    <div class="mb-3 row" style="margin: 1rem!important;">
                        <label style="font-size: medium; font-weight:inherit" for="inputOldPassword" class="col-sm-2 col-form-label">Current Password</label>
                        <div class="col">
                            <input class="form-control required" id="old_password" name="old_password" type="password">
                        </div>
                    </div>

                    <!-- New Password -->
                    <div class="mb-3 row" style="margin: 1rem!important;">
                        <label style="font-size: medium; font-weight:inherit" for="inputNewPassword"  class="col-sm-2 col-form-label">New Password</label>
                        <div class="col">
                            <input class="form-control required" id="new_password" name="new_password" type="password">
                        </div>
                    </div>

                    <!-- Confirm New Password -->
                    <div class="mb-3 row" style="margin: 1rem!important; margin-bottom: 0; padding-bottom: 0">
                        <label style="font-size: medium; font-weight:inherit" for="inputConfirmPassword" class="col-sm-2 col-form-label">Confirm New Password</label>
                        <div class="col">
                            <input class="form-control required" id="confirm_password" type="password">
                        </div>
                    </div>
                    {# show if the two password macthes #}
                    <span id="password_msg" ></span>
                    {# check if new password and confirm password matches #}
                    <script type="text/javascript">
                        $("#new_password, #confirm_password").on("keyup",
                            function () {
                                var password = $("#new_password").val();
                                var confirm = $("#confirm_password").val();
                                if (password === confirm && password === "") {
                                    // empty password, hide match word
                                    $("#password_msg").attr("style", "display:none;");
                                } else {
                                    $("#password_msg").attr("style", "display:block;");
                                    if (password === confirm) {
                                        $("#password_msg").html("New password matching").css("color", "green");
                                    } else {
                                        $("#password_msg").html("New password does not match").css("color", "red");
                                    }
                                }
                            }
                        );
                    </script>
                </div>

                <!-- Tags -->
                <dt class="col-sm-9" style="font-size: x-large; margin-top:2rem!important; margin-bottom: 1rem!important;">
                    Change Tags
                </dt>

                <div class="card flex-fill shadow-sm">
                    <!-- Search for Tags -->
                    <div class="row" style="margin-top: 1rem!important;">
                        <div class = "col-2" style="margin-left: 6rem!important; margin-top: 1rem!important;">
                            Select Tags:
                        </div>
                        <div class = "col-7">
                            <div class="input-group">
                                <input class="form-control" type="search" name="tags" style = "margin-top:0.5rem!important;" placeholder="Search Tags..."
                                       id="search_tags">
                            </div>
                        </div>
                    </div>
                    <div class = "row" style = "margin-top: 1.5rem!important; margin-bottom: 1rem!important;">
                        <div class = "col-2" style="margin-left: 6rem!important; margin-top: 0rem!important;">
                            Matching Tags:
                        </div>
                        <div class = "col-7">
                            {% for item in subjects %}
                                <span class="badge rounded-pill bg-other-tag tagSearchSpan" title="{{item}}_search" hidden>
                                                        <input type="checkbox" hidden id="{{item}}_input" name="{{item}}" value="{{item}}"
                                                               onchange="tagChecked(this)">
                                                        <label for="{{item}}_input" id="{{item}}_label">{{enum_to_website_output(item)}}</label>
                                                    </span>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Put the applied tags here-->
                    <div class = "row" style = "margin-top: 1rem!important; margin-bottom: 1rem!important;">
                        <div class = "col-2" style="margin-left: 6rem!important; margin-top: 0rem!important;">
                            Applied Tags:
                        </div>
                        <div class = "col-7">
                            {% for item in subjects %}
                                {% if item in teaching_areas %}
                                <span class="badge rounded-pill bg-other-tag tagFoundSpan" title="{{item}}_selected">
                                    <input type="checkbox" hidden id="{{item}}_input____s" name="{{item}}" value="{{item}}"
                                            onchange="tagCheckedSelected(this)" checked>
                                {% else %}
                                <span class="badge rounded-pill bg-other-tag tagFoundSpan" title="{{item}}_selected" hidden>
                                    <input type="checkbox" hidden id="{{item}}_input____s" name="{{item}}" value="{{item}}"
                                            onchange="tagCheckedSelected(this)">
                                {% endif %}
                                                            <label for="{{item}}_input____s" id="{{item}}_label____s">{{enum_to_website_output(item)}}</label>
                                                        </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="float-end mt-2 pt-1" style="margin-top: 1rem!important;">
                    <!-- Button to update-->
                    <input type="submit" name="submit" value="Update" form="edit_form" class="btn btn-primary btn" style="margin-right: 1rem!important;"/>
                    {# redirect to profile page #}
                    <button type="Button" class="btn btn-outline-danger btn" onclick="window.location.href='{{ url_for('profile') }}';">Discard Draft</button>

                </div>
            </form>

            {# check if all required fields are filled #}
            <script type="text/javascript">
                function validate_settings() {
                    var requirefFields = document.getElementsByClassName("required");
                    if (requirefFields.email.value === "" ||
                        requirefFields.username.value === "") {
                        alert("Please ensure email and username are not empty")
                        return false;
                    } else if (requirefFields.old_password.value !== "" &&
                        (requirefFields.new_password.value === "" ||
                            requirefFields.new_password.value !== requirefFields.confirm_password.value)) {
                        alert("Please ensure old password and new password are filled and " +
                            "new password matches confirm password")
                        return false;
                    }
                    return true;
                }
            </script>
        </div>
    </div>

{% endblock %}