{% extends 'base.html' %}

{% block style %}
<style>
    .white-round-box {
        background-color: #FFFFFF;
        border-color: #DDDDDD;
        border-width: 1px;
        border-radius: 1em;
    };
</style>
{% endblock %}

{% block content %}

<div class='container mt-5 p-4 pe-5 white-round-box shadow'>

    {% for i in range(0,num) %}

        <div class="row row-cols-1">
            <div class="col justify-content-start d-flex">
                <p class="h2">{{faqs[i][0]}}</p>
            </div>
            <div class="col justify-content-start d-flex">
                <p>{{ faqs[i][1] }}</p>
            </div>
        </div>

    {% endfor %}
    

</div>
{% endblock %}