{% extends 'base.html' %}


{% block style %}
    <style>
    .square {
        height: 500px;
        width: 500px;
        background-color:#{{ colour }};
    }
    </style>
{% endblock %}

{% block content %}
    <a href = "{{url_for('change_colours') }}" alt = {{colour}}>
        <div class="square" alt={{colour}}>
            <iframe width="500" height="282" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </a>
    
    
{% endblock %}

