{% extends 'base.html' %}


{% block style %}
    <style>

    body {

        height:100vh;
        font-family: Roboto, sans-serif;
    }
    .square {
        height: 500px;
        width: 500px;
        background-color:#{{ colour }};
    }

    .commentbox {
        background-color: #999999;
    }

    textarea { height : auto; 
        width : auto;

    }

    .c-form-container, .c-form {
        width: 36em;
        height: 3em;
    }

    .c-form-container {
        position: relative;
        font-weight: 700;
    }

    .c-form {
        border-radius: 6.25em;
        position: absolute;
        background-color: #FFFFFF;
        border-width: 1em;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.4em;
        box-sizing: border-box;
        box-shadow: 0 0.125em 0.3125em rgba(#000000, 0.3);
        display: flex;
        justify-content: center;
    }
    .c-form-input {
        font: inherit;
        border: 0;
        outline: 0;
        border-radius: 5em;
        box-sizing: border-box;
        color: #5b0b6f;
        height: 100%;
        width: 100%;
        padding: 0 0.714em;
    }
    .c-form-button {
        font: inherit;
        border: 0;
        outline: 0;
        border-radius: 5em;
        box-sizing: border-box;
        color: inherit;
        padding: 0;
        height: 100%;
        width: 5.5em;
        background-color: #f673ff;
            
    }    

	

    </style>
{% endblock %}

{% block content %}
    <a href = "{{url_for('change_colours')}}" alt = {{colour}}>
        <div class="square" alt={{colour}}>
            <iframe width="500" height="282" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </a>
        <!-- <textarea rows = "4" cols = "64" placeholder = "Write a comment"></textarea> -->
        {# <p class="commentbox" contenteditable = "true" style = "width: 500px;"> Write a comment! </p> #}
    <form action = "{{url_for('change_colours')}}" method = "GET" style = "background-color: aqua;"style = "width: 1600px;">
        <input type = "text" name = "newcolour" id = "hexcode" placeholder="Write a Comment!" width="600">
        <br>
        <input type = "submit" value = "submit">
    </form>
   <br><br><br>

    <div class="c-form-container" >
        <div class="c-form" >
            <input class="c-form-input" placeholder="Email" type="email">
            <button class="c-form-button" type="button">
                <span style="color: #f0a3fd;">Search</span> 
            </button>
        </div>
    </div>
    

    <br>
    <br>
    <br>
{% endblock %}

