{% extends 'base.html' %}

{% block content %}
    {# Betcha didn't see this trick up my sleeve #}
    {% if problem %}
        <h1><strong>S O L V E D</strong></h1>
        <ul>
            {% for moment in hohyeah %}
                <li>{{ moment }}</li>
            {% endfor %}
        </ul>
        <h1>Macaroni? With the Chiiicken STRIPS?</h1>
    {% else %}
        <h1>Oh ho ho! SO we've got a problem do we?!</h1>
        <h2>You know the rules...</h2>
        <p>...and so do I</p>
    {% endif %} 
{% endblock %}
