{% extends 'base.html' %}

{% block style %}
<style>
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }


        body {
            /* Adds a Hex honeycomb background */
            /* background-image: url(
        {{url_for('static', filename='img/hex_back.png')}} ),radial-gradient(rgb(254, 239, 255),rgb(246, 244, 255),rgb(254, 239, 255)); */
            background-color: #ffe5ec;
            background-image: radial-gradient(rgb(255, 242, 245), rgb(255, 242, 245), rgb(255, 242, 245));
            {# background-image: radial-gradient(rgb(255, 229, 236), rgb(255, 229, 236),rgb(255, 229, 236)); #}
        {#background-color: rgb(245, 245, 255);#}
        }
    .btn-primary {
        background-color: #ff8fab;
        color: white;
        border-color: #ff8fab;
    }
    .btn-primary:hover {
        color:white;
        background-color: #3a78ef;
    }

    .btn-outline-primary {
        background-color: rgb(255, 255, 255);
        color:#000000;
        border-color: white;
    }

    .btn-outline-primary:hover {
        color:white;
        background-color: #3a78ef;
    }

    .btn-check:checked+.btn-outline-primary {
        color: white;
        background-color:  #ff8fab;
        border-color:   #ff8fab;
    }
    .bg-white {
        background-color: #ffd6e1;
    }
    .bg-primary {
        background-color: #ff8fab!important;
    }
    .btn-close {
        width: 0.5rem;
        height: 0.5rem;
    }



</style>
{% endblock %}

{% block script %}

<!-- Resource Card, Take this out once you implement all the channel stuff -->
<!--
<script type="text/template" id="resource_card">

     <% _.each(data,  function(res) { %>
        <div class="col-4 p-2">
            <a class="text-dark card shadow-sm" href="{{url_for('resource')}}/1/<%= res.rid %>">
                <img class="bd-placeholder-img card-img-top" src="{{url_for('static', filename='img/placeholder.png')}}" ,
                    alt="Logo" , width="150" , height="150">
                <div class="card-body">
                    <p class="card-text">
                        <%= res.title %>
                    </p>
                    <div class="d-flex">
                        <p class="card-text px-1">
                            <%= res.upvote_count %>
                        </p>
                        <img src="{{url_for('static', filename='img/up.png')}}" , alt="Down" , width="20" , height="20">
                        <p class="card-text px-1">
                            <%= res.downvote_count %>
                        </p>
                        <img src="{{url_for('static', filename='img/down.png')}}" , alt="Down" , width="20" , height="20">
                    </div>
                </div>
            </a>
        </div>
    <% }); %>
</script>
-->

    <!-- Template for a channel card -->
<script type="text/template" id="channel_card">
    <% _.each(data,  function(res) { %>
        <!-- Create the channel card with a shadow -->
        <div class="card shadow-sm" style="margin: 0.8rem; margin-bottom: 0rem!important;">
            <a class="row" href="{{url_for('view_channel')}}/<%= res.cid %>">
                <!-- Thumbnail for a channel. CHANGE THE url_for TO THE CORRECT LOCATION FOR ACTUAL IMPLEMENTATION -->
                <div class="col-2" style="width: 12%">
                    <img class="rounded-circle img-fluid" src="{{url_for('static', filename='img/placeholder.png')}}" ,
                         alt="Logo", width="65", style="margin:10px!important; margin-left:15px!important; margin-right: 15px!important;">
                </div>

                <div class="col-8" style="margin-top: 5px!important; margin-bottom: 5px!important;">
                    <!-- Title -->
                    <div class = "row">
                        <div class="fw-bold" style="padding: 0rem!important; font-size: large">
                            <%= res.name %>
                        </div>
                    </div>
                    <!-- Description on a channel. This should have it so that it automatically truncates the text to fit in the card-->
                    <div class = "row">
                        <span style="white-space: nowrap; font-size: small; text-overflow:ellipsis; overflow: hidden; padding: 0; max-width: 600px;"><%= res.description %></span>
                    </div>
                    <!-- Tags on a channel. NOTE: I don't how to create a template for each tag   -->
                    <div class = "row" style = "padding-top: 0.25rem!important;">
                        <!-- Here test subject tag -->
                        <span class="badge rounded-pill bg-primary" style="width: auto;
                                   margin-right: 0.25rem!important; margin-bottom: 0.25rem!important;"><%= res.subject %></span>
                    </div>
                </div>

                <div class = "col-2"style="margin-top: 5px!important; margin-bottom: 5px!important;">
                    <!-- Most recent author -->
                    <div class="fw-bold" style=" font-size: medium">
                        <%= res.recent_poster_username %>
                    </div>
                    <!-- Time -->
                    <div class = "fw-normal" style = "font-size: small"> Last posted: <%= res.most_recent_post_time %></div>
                    <div class = "row d-flex align-items-center">
                        <!-- Number of posts a channel -->
                        <div class = "col-3">
                            <!-- Image of the post icon -->
                            <img class="rounded img-fluid" src="{{url_for('static', filename='img/postIcon.PNG')}}" ,
                                    alt="Logo", width="40", style="margin:2px!important; margin-left:2px!important; margin-right: 2px!important;">
                        </div>
                        <div class = "col" style = "padding: 0rem">
                            <!-- Number of posts in the channel-->
                            <div class = "fw-normal" style = "font-size: small; margin-top: 2.5px!important;"> <%= res.post_count %> Posts</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    <% }); %>
</script>

    <!-- Template for a tag with a close button for the tag filtering section -->
<script type="text/template" id="tag_filter">
    <% _.each(data,  function(res) { %>
        <!-- The single tag which is a badge with the tag name inside-->
        <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;"> <%= res.tag_name %>
            <!-- The X button at the end of the tag so that you can delete it -->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </span>
    <% }); %>
</script>

    <!-- Template for a tag inside each card (no close button) -->
<script type="text/template" id="tag_inside_card">
    <% _.each(data,  function(res) { %>
        <span class="badge rounded-pill bg-primary" style="width: auto;
                                    margin-right: 0.25rem!important; margin-bottom: 0.25rem!important;"> <%= res.tag_name %> </span>

    <% }); %>
</script>

<script>
    // DROPDOWN
    $(function () {

        $(".dropdown-menu a").click(function () {

            $("#dropdownMenuButton1").text($(this).text());
            $("#dropdownMenuButton1").val($(this).text());
        });

    });
    // AJAX
    // global variable that stores the search_term
    var search_term = ""
    // if view public channel
    var is_public = true
    // sorting method
    var sort_by_date = "newest"

    // key up search bar implementation
    $(document).on("keyup", "#search_content", function (e) {
        // currently only filter by channel name
        search_term = $('input[name=name]').val();
        $.ajax(
            {
                type: "GET",
                url: "{{url_for('search_channel')}}",
                data: { "name": search_term,
                        "is_public": is_public,
                        "sort_by_date": sort_by_date},
                success: function (response) {
                    $("#result").empty(); // remove current results
                    var channel_card = _.template($("#channel_card").html());
                    $("#result").html(channel_card({ data: response })); // set new results
                    if (response.length == 0) {
                        $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                    }

                }
            }
        )
    });

    // public channel button pressed
    $(document).on("click", "#btnradio1", function (e) {
        // currently only filter by channel name
        search_term = $('input[name=name]').val();
        is_public = true
        $.ajax(
            {
                type: "GET",
                url: "{{url_for('search_channel')}}",
                data: { "name": search_term,
                        "is_public": is_public,
                        "sort_by_date": sort_by_date},
                success: function (response) {
                    $("#result").empty(); // remove current results
                    var channel_card = _.template($("#channel_card").html());
                    $("#result").html(channel_card({ data: response })); // set new results
                    if (response.length == 0) {
                        $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                    }
                }
            }
        )
    });

    // private button is clicked
    $(document).on("click", "#btnradio2", function (e) {
        // currently only filter by channel name
        search_term = $('input[name=name]').val();
        is_public = false
        $.ajax(
            {
                type: "GET",
                url: "{{url_for('search_channel')}}",
                data: { "name": search_term,
                        "is_public": is_public,
                        "sort_by_date": sort_by_date},
                success: function (response) {
                    $("#result").empty(); // remove current results
                    var channel_card = _.template($("#channel_card").html());
                    $("#result").html(channel_card({ data: response })); // set new results
                    if (response.length == 0) {
                        $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                    }
                }
            }
        )
    });

    // sort by order changes
    $(document).on("change", "#sort_order", function (e) {
        // currently only filter by channel name
        search_term = $('input[name=name]').val();
        is_public = false
        sort_by_date = $("#sort_order").find(":selected").text()
        $.ajax(
            {
                type: "GET",
                url: "{{url_for('search_channel')}}",
                data: { "name": search_term,
                        "is_public": is_public,
                        "sort_by_date": sort_by_date},
                success: function (response) {
                    $("#result").empty(); // remove current results
                    var channel_card = _.template($("#channel_card").html());
                    $("#result").html(channel_card({ data: response })); // set new results
                    if (response.length == 0) {
                        $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                    }
                }
            }
        )
    });

    // Seed AJAX
    $(document).ready(function () {
        $.ajax(
            {
                type: "GET",
                url: "{{url_for('search_channel')}}",
                data: { "name": search_term,
                        "is_public": is_public,
                        "sort_by_date": sort_by_date},
                success: function (response) {
                    $("#result").empty(); // remove current results
                    var channel_card = _.template($("#channel_card").html());
                    $("#result").html(channel_card({ data: response })); // set new results
                }
            }
        )
    });
</script>
{% endblock %}

{% block content %}
<!-- Banner -->
      <div class="shadow row-fluid" style = "padding: 0rem!important; background-color: #FFFFFF">
         <div class = "container" style="padding-top: 0.25rem!important;">
            <div class="row p-2 bg-white rounded" style = "padding-bottom: 0rem!important">
                <dt class="row">
                    <dt class="col-sm-3" style = "font-size: x-large; padding-bottom: 1rem!important;">Channel Home</dt>
                        <dd class="row-3" style = "font-size: small">
                            <p>Ask any questions you have in the relevant channels below. To see private channels you have access to, click private channels</p>
                        </dd>
                </dt>

            </div>
             <div class="row p-3" style = "padding-top: 0rem!important">
        <!-- Top Search Bar -->
                <div class="col d-flex justify-content-md-between" style = "padding-right: 100px; padding-left: 100px">
                    <div class="input-group shadow-sm">
                        <input type="search" name="name" class="form-control" placeholder="Search Channels"
                        id="search_content">
                    </div>
                </div>
            </div>
         </div>
    </div>


<div class="container">

    <div class="row p-3" style = "padding-top: 3rem!important; padding-bottom: 0rem!important">
        <!-- Create new Channel section -->
        <div class="col-3">
            <div class = "row pe-5">
            <a href="{{url_for('create_channel')}}" class="btn btn-primary d-md-block shadow" style = "width: 100%" aria-haspopup="true" aria-expanded="false">
                <dd class="text-center font-weight-bold">Create New Channel</dd>

            </a>
                </div>
        </div>

        <!-- Swapping between Public and Private Channels and Sorting -->
        <div class="col d-flex justify-content-md-between">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary shadow" for="btnradio1" style = "margin-right: 1rem!important">Public Channels</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary shadow" for="btnradio2">My Channels</label>


            </div>
            <div class="d-flex">
                <p class="h5" style = "margin:auto">Sort by</p>
                <!-- dropdown for sort_by -->
                <div class="dropdown px-3">
                    <select class="btn btn-primary dropdown-toggle" style="min-width: 100px; height: 90%" id="sort_order"  name="sort_order">
                        <option class="dropdown-item" value="newest">Newest </option>
                        <option class="dropdown-item" value="trending">Trending</option>
                    </select>
                </div>
            </div>

        </div>
    </div>

    <!-- Tags Section -->
    <div class="row p-3">
        <div class="col-3">
            <!-- Subject selection -->
            <div class="row pe-5">
                <div class="card">
                    <p class="h4" style = "margin-top: 1rem!important; margin-bottom: 0.5rem!important;">Tags</p>
                    <!-- Search for Tags (Naive Bootstrap) -->

                        <input class="form-control" style = "margin-bottom: 0.5rem!important; margin-top: 0.3rem!important;"
                               list="datalistOptions" id="exampleDataList" placeholder="Search Tags...">
                        <datalist id="datalistOptions">
                            {% for item in subject %}
                          <option value="{{item}}">
                            {% endfor %}
                        {% for item in grade %}
                          <option value="{{item}}">
                            {% endfor %}
                        {% for item in tag %}
                          <option value="{{item}}">
                            {% endfor %}
                        </datalist>

                <!-- Applied Tags -->
                <div class="row-3">
                        <div class = "h4"> Applied Tags</div>
                        {% for item in tag %}
                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">{{ item }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </span>
                        {% endfor %}
                    </div>
                <!-- Clear all tags option -->
                <div class = "row-3">
                    <a class="btn btn-secondary d-md-block" style = "width: 100%; margin-top: 1rem!important;
                    margin-bottom: 1rem!important;" aria-haspopup="true" aria-expanded="false">
                <dd class="text-center font-weight-bold">Clear all tags</dd>

            </a>

                </div>

                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-md-between">
            <!-- Channel top level -->
            <div class="card flex-fill">
                <div class="card shadow-sm" style="margin: 0.8rem; margin-bottom: 0rem!important;" id="result">
                </div>

                <!-- Singular Channel Card -->
                    <!--
                    <div class="card shadow-sm" style="margin: 0.8rem; margin-bottom: 0rem!important;">

                        <div class="row">
                            <div class="col-2" style="width: 12%">
                                <img class="rounded-circle img-fluid" src="{{url_for('static', filename='img/placeholder.png')}}" ,
                                alt="Logo", width="65", style="margin:10px!important; margin-left:15px!important; margin-right: 15px!important;">
                            </div>
                            <div class="col-8" style="margin-top: 5px!important; margin-bottom: 5px!important;">
                                <div class = "row">
                                    <div class="fw-bold" style="padding: 0rem!important; font-size: large">
                                        Primary School Mathematics
                                    </div>
                                </div>
                                <div class = "row">
                                    <span style="white-space: nowrap; font-size: small; text-overflow:ellipsis; overflow: hidden; padding: 0; max-width: 600px;">All posts welcome about primary school mathematics.
                                        Test wrapping of many tags</span>
                                </div>
                                <div class = "row" style = "padding-top: 0.25rem!important;">
                                    <span class="badge rounded-pill bg-primary" style="width: auto;
                                    margin-right: 0.25rem!important; margin-bottom: 0.25rem!important;">Mathematics</span>
                                    <span class="badge rounded-pill bg-primary" style="width: auto;
                                    margin-right: 0.25rem!important; margin-bottom: 0.25rem!important;">Primary Education</span>
                                    <span class="badge rounded-pill bg-primary" style="width: auto;
                                    margin-right: 0.25rem!important; margin-bottom: 0.25rem!important;">Primary Education</span>
                                    <span class="badge rounded-pill bg-primary" style="width: auto;
                                    margin-right: 0.25rem!important; margin-bottom: 0.25rem!important;">Primary Education</span>
                                    <span class="badge rounded-pill bg-primary" style="width: auto;
                                    margin-right: 0.25rem!important; margin-bottom: 0.25rem!important;">Primary Education</span>
                                     <span class="badge rounded-pill bg-primary" style="width: auto;
                                    margin-right: 0.25rem!important; margin-bottom: 0.25rem!important;">Primary Education</span>
                                     <span class="badge rounded-pill bg-primary" style="width: auto;
                                    margin-right: 0.25rem!important; margin-bottom: 0.25rem!important;">Primary Education</span>
                                     <span class="badge rounded-pill bg-primary" style="width: auto;
                                    margin-right: 0.25rem!important; margin-bottom: 0.25rem!important;">Primary Education</span>
                                </div>

                            </div>
                            <div class = "col-2"style="margin-top: 5px!important; margin-bottom: 5px!important;">
                                <div class="fw-bold" style=" font-size: medium">
                                        Geoffry Matrin
                                    </div>
                                <div class = "fw-normal" style = "font-size: small"> Replied 13 minutes ago</div>
                                <div class = "row d-flex align-items-center">
                                    <div class = "col-3">
                                        <img class="rounded img-fluid" src="{{url_for('static', filename='img/postIcon.PNG')}}" ,
                                    alt="Logo", width="40", style="margin:2px!important; margin-left:2px!important; margin-right: 2px!important;">
                                    </div>
                                    <div class = "col" style = "padding: 0rem">
                                         <div class = "fw-normal" style = "font-size: small; margin-top: 2.5px!important;"> 150 Posts</div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>


                     Another Channel Card
                    <div class="card shadow-sm" style="margin: 0.8rem; margin-bottom: 0rem!important;">

                        <div class="row">
                            <div class="col-2" style="width: 12%">
                                <img class="rounded-circle img-fluid" src="{{url_for('static', filename='img/placeholder.png')}}" ,
                                alt="Logo", width="65", style="margin:10px!important; margin-left:15px!important; margin-right: 15px!important;">
                            </div>
                            <div class="col-8" style="margin-top: 5px!important; margin-bottom: 5px!important;">
                                <div class = "row">
                                    <div class="fw-bold" style="padding: 0rem!important; font-size: large">
                                        School Security Systems
                                    </div>
                                </div>
                                <div class = "row">
                                    <span style="white-space: nowrap; font-size: small; text-overflow:ellipsis; overflow: hidden; padding: 0; max-width: 600px;">All posts welcome about primary school mathematics.
                                        Test wrapping of many tags. LONGLONGLONGGLONGGLONGGLONGGLONGGLONGGLONGGLONGGLONG</span>
                                </div>
                                <div class = "row" style = "padding-top: 0.25rem!important;">
                                    <span class="badge rounded-pill bg-primary" style="width: auto; margin-right: 0.25rem!important;">General</span>
                                </div>

                            </div>
                            <div class = "col-2"style="margin-top: 5px!important; margin-bottom: 5px!important;">
                                <div class="fw-bold" style=" font-size: medium">
                                        Big Kyle
                                    </div>
                                <div class = "fw-normal" style = "font-size: small"> Replied 12 minutes ago</div>
                                <div class = "row d-flex align-items-center">
                                    <div class = "col-3">
                                        <img class="rounded img-fluid" src="{{url_for('static', filename='img/postIcon.PNG')}}" ,
                                    alt="Logo", width="40", style="margin:2px!important; margin-left:2px!important; margin-right: 2px!important;">
                                    </div>
                                    <div class = "col" style = "padding: 0rem">
                                         <div class = "fw-normal" style = "font-size: small; margin-top: 2.5px!important;"> 23 Posts</div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                   -->


            </div>
        </div>
    </div>
</div>
{% endblock %}