{% extends 'base.html' %}
{% block style %}
<style>
/* Styling for channel cards to give a dropshadow and animation on hover*/
.box {
  position: relative;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
  display: inline-block;
    background-color: #fff;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}

.box:hover::after {
    opacity: 1;
}


</style>
{% endblock %}

{% block script %}

    <!-- Template for a individual channel card -->
<script type="text/template" id="channel_card">
    <% _.each(data,  function(res) { %>
        <!-- Create the channel card with a shadow -->
        <div class="box shadow-sm" style="margin: 1.1rem; margin-bottom: 0.55rem!important; margin-top: 0.55rem!important; color: black">
            <a class="row" href="{{url_for('view_channel')}}/<%= res.cid %>">
                <!-- Thumbnail for a channel.  -->
                <div class="col-2" style="width: 12%">
                    <img src="{{url_for('static', filename="")}}/<%=res.avatar_link%>" ,
                         alt="Logo", width="65", height="65" style="border-radius: 15%; margin:10px!important; margin-left:15px!important; margin-right: 15px!important;">
                </div>

                <div class="col-8" style="margin-top: 5px!important; margin-bottom: 5px!important;">
                    <!-- Title -->
                    <div class = "row">
                        <div class="fw-bold" style="padding: 0rem!important; font-size: medium">
                            <%= res.name %>
                        </div>
                    </div>
                    <!-- Description on a channel. This should have it so that it automatically truncates the text to fit in the card-->
                    <div class = "row">
                        <span style="white-space: nowrap; font-size: small; text-overflow:ellipsis; overflow: hidden; padding: 0; max-width: 600px;"><%= res.description %></span>
                    </div>
                    <!-- Tags on a channel. NOTE: I don't how to create a template for each tag   -->
                    <div class = "row" style = "padding-top: 0.5rem!important;">

                        <% _.each(res.all_tags, function(tag) { %>

                        <!-- Here test subject tag -->
                        <span class="badge rounded-pill bg-primary" style="width: auto;
                                   margin-right: 0.25rem!important; margin-bottom: 0.25rem!important;"><%= tag %></span>
                        <% }); %>
                    </div>
                </div>

                <div class = "col-2"style="margin-top: 5px!important; margin-bottom: 5px!important;">
                    <!-- Most recent author -->
                    <div class="fw-bold" style=" font-size: small">

                        <%= res.recent_poster_username %>
                    </div>
                    <!-- Time -->
                    <div class = "fw-normal" style = "font-size: small"> Last posted: <%= res.most_recent_post_time %></div>
                    <div class = "row d-flex align-items-center">
                        <!-- Number of posts a channel -->
                        <div class = "col-3">
                            <!-- Image of the post icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-top:4px!important; margin-left: 2px!important;" width="16" height="16" fill="#1488eb" class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
                              <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                            </svg>
                        </div>
                        <div class = "col" style = "padding: 0rem">
                            <!-- Number of posts in the channel-->
                            <div class = "fw-normal" style = "font-size: small; margin-top: 2.5px!important;"> <%= res.post_count %> Posts</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    <% }); %>
</script>

    <!-- Template for a tag with a close button for the tag filtering section -->
<script type="text/template" id="tag_filter">
    <% _.each(data,  function(res) { %>
        <!-- The single tag which is a badge with the tag name inside-->
        <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;"> <%= res.tag_name %>
            <!-- The X button at the end of the tag so that you can delete it -->
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </span>
    <% }); %>
</script>

    <!-- Template for a tag inside each card (no close button) -->
<script type="text/template" id="tag_inside_card">
    <% _.each(data,  function(res) { %>
        <span class="badge rounded-pill bg-primary" style="width: auto;
                                    margin-right: 0.25rem!important; margin-bottom: 0.25rem!important; text-transform: capitalize"> <%= res.tag_name %> </span>

    <% }); %>
</script>

<script>
    // Handles dropdown menu
    $(function () {

        $(".dropdown-menu a").click(function () {

            $("#dropdownMenuButton1").text($(this).text());
            $("#dropdownMenuButton1").val($(this).text());
        });

    });
    // AJAX
    // global variable that stores the search_term
    var search_term = ""
    // if view public channel
    var is_public = true
    // sorting method
    var sort_by_date = "newest"


    function doAJAX() {
        var spanFoundBoxes = document.getElementsByClassName('tagFoundSpan');
        var subject = '';
        for (var i = 0; i < spanFoundBoxes.length; i++) {
            box = spanFoundBoxes[i];
            if(!box.hidden && box.className.split(/\s+/).includes('bg-subject-tag')){
                subject = box.title.replace('_selected', '');
            }
        }
        var year = '';
        for (var j = 0; j < spanFoundBoxes.length; j++) {
            box = spanFoundBoxes[j];
            if(!box.hidden && box.className.split(/\s+/).includes('bg-year-tag')){
                year = box.title.replace('_selected', '');
            }
        }
        var tags = [''];
        o = Object.values(spanFoundBoxes).filter(span => !span.hidden).filter(span => span.className.includes('bg-other-tag')).map(x => x.title.replace('_selected', ''));
        if (o.length > 0){
            tags = o;
        }
        $.ajax(
            {
                type: "GET",
                url: "{{url_for('search_channel')}}",
                data: { "name": search_term,
                        "is_public": is_public, "tags": tags,
                        "sort_by_date": sort_by_date,
                        "uid": "{{ user.uid }}",
                        "subject": subject,
                        "year" : year},
                success: function (response) {
                    $("#result").empty(); // remove current results
                    var channel_card = _.template($("#channel_card").html());
                    $("#result").html(channel_card({ data: response })); // set new results
                    if (response.length === 0) {
                        $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                    }

                }
            }
        )
    }
    // key up search bar implementation
    $(document).on("keyup", "#search_content", function (e) {
        // currently only filter by channel name
        search_term = $('input[name=name]').val();
        doAJAX();

    });

    // public channel button pressed
    $(document).on("click", "#btnradio1", function (e) {
        // currently only filter by channel name
        search_term = $('input[name=name]').val();
        is_public = true
        $.ajax(
            {
                type: "GET",
                url: "{{url_for('search_channel')}}",
                data: { "name": search_term,
                        "is_public": is_public,
                        "sort_by_date": sort_by_date,
                        "uid": "{{ user.uid }}"},
                success: function (response) {
                    $("#result").empty(); // remove current results
                    var channel_card = _.template($("#channel_card").html());
                    $("#result").html(channel_card({ data: response })); // set new results
                    if (response.length === 0) {
                        $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                    }
                }
            }
        )
    });

    // private button is clicked
    $(document).on("click", "#btnradio2", function (e) {
        // currently only filter by channel name
        search_term = $('input[name=name]').val();
        is_public = false
        $.ajax(
            {
                type: "GET",
                url: "{{url_for('search_channel')}}",
                data: { "name": search_term,
                        "is_public": is_public,
                        "sort_by_date": sort_by_date,
                        "uid": "{{ user.uid }}"},
                success: function (response) {
                    $("#result").empty(); // remove current results
                    var channel_card = _.template($("#channel_card").html());
                    $("#result").html(channel_card({ data: response })); // set new results
                    if (response.length === 0) {
                        $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                    }
                }
            }
        )
    });

    // sort by order changes
    $(document).on("change", "#sort_order", function (e) {
        // currently only filter by channel name
        search_term = $('input[name=name]').val();
        sort_by_date = $("#sort_order").find(":selected").text()
        $.ajax(
            {
                type: "GET",
                url: "{{url_for('search_channel')}}",
                data: { "name": search_term,
                        "is_public": is_public,
                        "sort_by_date": sort_by_date,
                        "uid": "{{ user.uid }}"},
                success: function (response) {
                    $("#result").empty(); // remove current results
                    var channel_card = _.template($("#channel_card").html());
                    $("#result").html(channel_card({ data: response })); // set new results
                    if (response.length === 0) {
                        $("#result").html('<div></div><div class="text-center"><p class="h2 text-muted">No Results</p></div>');
                    }
                }
            }
        )
    });

    // Seed AJAX
    $(document).ready(function () {
        $.ajax(
            {
                type: "GET",
                url: "{{url_for('search_channel')}}",
                data: { "name": search_term,
                        "is_public": is_public,
                        "sort_by_date": sort_by_date,
                        "uid": "{{ user.uid }}"},
                success: function (response) {
                    $("#result").empty(); // remove current results
                    var channel_card = _.template($("#channel_card").html());
                    $("#result").html(channel_card({ data: response })); // set new results
                }
            }
        )
        var search_term = $('input[name=tags]').val().toLowerCase();
        var spanBoxes = document.getElementsByClassName('tagSearchSpan');
        for (var i = 0; i < spanBoxes.length; i++) {
            box = spanBoxes[i];
            if (box.title.toLowerCase().indexOf(search_term) > -1) {
                box.hidden = false;
            } else {
                box.hidden = true;
            }
            if (search_term == '') {
                box.hidden = true;
            }
        }
    });

    // Tags button
    function tagChecked(checkboxElem) {
        id = checkboxElem.id + '____s';
        other = document.getElementById(id)
        tagId = checkboxElem.name + '_selected';
        otherTag = document.querySelector('[title='+tagId+']')
        myTagId = checkboxElem.name + '_search';
        myTag = document.querySelector('[title='+myTagId+']')
        if (checkboxElem.checked) {
            other.checked = false;
            otherTag.hidden = false;
            myTag.hidden = true;
            doAJAX();
        } else {
            other.checked = true;
            otherTag.hidden = true;
            myTag.hidden = false;
        }
    }
    function tagCheckedSelected(checkboxElem) {
        id = checkboxElem.id.replace('____s', '');
        other = document.getElementById(id)
        tagId = checkboxElem.name + '_search';
        otherTag = document.querySelector('[title='+tagId+']')
        myTagId = checkboxElem.name + '_selected';
        myTag = document.querySelector('[title='+myTagId+']')
        if (checkboxElem.checked) {
            other.checked = false;
            var search_term = $('input[name=tags]').val().toLowerCase();
            if (otherTag.title.toLowerCase().indexOf(search_term) > -1) {
                otherTag.hidden = false;
            } else {
                otherTag.hidden = true;
            }
            if (search_term == '') {
                otherTag.hidden = true;
            }
            myTag.hidden = true;
            doAJAX();
        } else {
            other.checked = true;
            otherTag.hidden = true;
            myTag.hidden = false;
        }
    }
    // Reset Tags
    $(document).on("click", "#resetTags", function(e) {
        var spanBoxes = document.getElementsByClassName('tagSearchSpan');
        var search_term = $('input[name=tags]').val().toLowerCase();
        for (var i = 0; i < spanBoxes.length; i++) {
            box = spanBoxes[i];
            if (box.title.toLowerCase().indexOf(search_term) > -1) {
                box.hidden = false;
            } else {
                box.hidden = true;
            }
            if (search_term == '') {
                box.hidden = true;
            }
        }
        var spanFoundBoxes = document.getElementsByClassName('tagFoundSpan');
        for (var i = 0; i < spanFoundBoxes.length; i++) {
            box = spanFoundBoxes[i];
            box.hidden = true;
            box.getElementsByTagName('input')[0].checked = false
            id = box.getElementsByTagName('input')[0].id.replace('____s', '');
            document.getElementById(id).checked = false
        }
        doAJAX();
    });
    // Tags search
    $(document).on("keyup", "#search_tags", function (e) {
        var search_term = $('input[name=tags]').val().toLowerCase();
        var spanBoxes = document.getElementsByClassName('tagSearchSpan');
        for (var i = 0; i < spanBoxes.length; i++) {
            box = spanBoxes[i];
            if (search_term == '') {
                box.hidden = true;
            } else if (box.title.toLowerCase().indexOf(search_term) > -1) {
                tagId = box.title.replace('_search', '_selected');
                try {
                    otherTag = document.querySelector('[title='+tagId+']')
                    if(otherTag.hidden){
                        box.hidden = false;
                    }else{
                        box.hidden = true;
                    }
                } catch (err) {
                    box.hidden = true;
                }
            } else {
                box.hidden = true;
            }
        }
    });
</script>
{% endblock %}

{% block content %}
        <!-- Banner -->
      <div class="card row-fluid" style = "padding: 0rem!important; background-color: #fbfbfb">
         <div class = "container" style="padding-top: 0.25rem!important;  padding-left: 0px; padding-right: 100px">
            <div class="row p-2 rounded" style = "padding-bottom: 0rem!important; margin-top:1rem!important; background-color: #fbfbfb">
                <dt class="row">
                <!-- Channel heading -->
                    <dt class="col-sm-3" style = "font-size: x-large; padding-bottom: 1rem!important;">Channel Home</dt>
                        <dd class="row-3" style = "font-size: small">
                            <p>Ask any questions you have in the relevant channels below. To see private channels you have access to, click private channels</p>
                        </dd>
                </dt>

            </div>
             <div class="row p-3" style = "padding-top: 0rem!important">
        <!-- Top Search Bar -->
                <div class="col d-flex justify-content-md-between" style = "padding-right: 0px; padding-left: 0px">
                    <div class="input-group shadow-sm">
                        <input type="search" name="name" class="form-control" placeholder="Search Channels"
                        id="search_content">
                    </div>
                </div>
            </div>
         </div>
    </div>


<div class="container">

    <div class="row p-3" style = "padding-top: 3rem!important; padding-bottom: 0rem!important">
        <!-- Create new Channel section -->
        <div class="col-3">
            <div class = "row pe-5">
            <a href="{{url_for('create_or_modify_channel')}}" class="btn btn-primary d-md-block shadow" style = "width: 100%" aria-haspopup="true" aria-expanded="false">
                <dd class="text-center font-weight-bold" style="margin-top: 2.5px!important; margin-bottom: 4px!important;">Create New Channel +</dd>

            </a>
                </div>
        </div>
        <!-- Swapping between Public and Private Channels and Sorting -->
        <div class="col d-flex justify-content-md-between">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-primary shadow" for="btnradio1" style = "margin-right: 1rem!important">
                    <dd class="text-center font-weight-bold" style="margin-top: 2.5px!important; margin-bottom: 4px!important;">Public Channels</dd>
                </label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-primary shadow" for="btnradio2">
                    <dd class="text-center font-weight-bold" style="margin-top: 2.5px!important; margin-bottom: 4px!important;">Private Channels</dd>
                </label>
            </div>
            <div class="d-flex">
                <p class="h5" style = "margin:auto">Sort by</p>
                <!-- Dropdown for Sorting -->
                <div class="dropdown px-3">
                    <select class="btn btn-primary dropdown-toggle" style="min-width: 100px; height: 90%" id="sort_order"  name="sort_order">
                        <option class="dropdown-item" value="newest" style="background-color: white"> Created </option>
                        <option class="dropdown-item" value="trending" style="background-color: white">Trending</option>
                    </select>
                </div>
            </div>

        </div>
    </div>

    <!-- Tags Section on the left-->
    <div class="row p-3">
        <div class="col-3">
            <!-- Tags selection -->
            <div class="row pe-5">
                <div class="card" style=" background-color: #fbfbfb">
                    <p class="h4" style="margin-top: 1rem!important; margin-bottom: 0.75rem!important;">Tags</p>
                    <!-- Search for Tags -->
                    <div class="input-group">
                        <input type="search" name="tags" class="form-control" placeholder="Search Tags..."
                            id="search_tags">
                    </div>
                    <div class="row-3" id="found_tags">
                    <hr>
                    <p class="h6" style="margin-top: 1rem!important; margin-bottom: 0.5rem!important;">Channel Tags</p>
                        {% for item in subjects %}
                        <span class="badge rounded-pill bg-subject-tag tagSearchSpan" title="{{item}}_search" hidden>
                            <input type="checkbox" hidden id="{{item}}_input" name="{{item}}" value="{{item}}"
                                onchange="tagChecked(this)">
                            <label for="{{item}}_input" id="{{item}}_label">{{enum_to_website_output(item)}}</label>
                        </span>
                        {% endfor %}
                        {% for item in grades %}
                        <span class="badge rounded-pill bg-year-tag tagSearchSpan" title="{{item}}_search" hidden>
                            <input type="checkbox" hidden id="{{item}}_input" name="{{item}}" value="{{item}}"
                                onchange="tagChecked(this)">
                            <label for="{{item}}_input" id="{{item}}_label">{{enum_to_website_output(item)}}</label>
                        </span>
                        {% endfor %}

                        {% for item in tags %}
                        <span class="badge rounded-pill bg-other-tag tagSearchSpan" title="{{item}}_search" hidden>
                            <input type="checkbox" hidden id="{{item}}_input" name="{{item}}" value="{{item}}"
                                onchange="tagChecked(this)">
                            <label for="{{item}}_input" id="{{item}}_label">{{enum_to_website_output(item)}}</label>
                        </span>
                        {% endfor %}
                    <hr>
                    </div>
                    <!-- Selected Tags -->
                    <div class="row-3">
                        <div class="h5">Applied Tags</div>
                        {% for item in subjects %}
                        <span class="badge rounded-pill bg-subject-tag tagFoundSpan" title="{{item}}_selected" hidden>
                            <input type="checkbox" hidden id="{{item}}_input____s" name="{{item}}" value="{{item}}"
                                onchange="tagCheckedSelected(this)">
                            <label for="{{item}}_input____s" id="{{item}}_label____s">{{enum_to_website_output(item)}}</label>
{#                             <button type="button" class="btn-close" data-bs-dismiss="alert" disabled aria-label="Close"></button>#}
                        </span>
                        {% endfor %}
                        {% for item in grades %}
                        <span class="badge rounded-pill bg-year-tag tagFoundSpan" title="{{item}}_selected" hidden>
                            <input type="checkbox" hidden id="{{item}}_input____s" name="{{item}}" value="{{item}}"
                                onchange="tagCheckedSelected(this)">
                            <label for="{{item}}_input____s" id="{{item}}_label____s">{{enum_to_website_output(item)}}</label>
                        {#                             <button type="button" class="btn-close" data-bs-dismiss="alert" disabled aria-label="Close"></button>#}
                        </span>
                        {% endfor %}
                        {% for item in tags %}
                        <span class="badge rounded-pill bg-other-tag tagFoundSpan" title="{{item}}_selected" hidden>
                            <input type="checkbox" hidden id="{{item}}_input____s" name="{{item}}" value="{{item}}"
                                onchange="tagCheckedSelected(this)">
                            <label for="{{item}}_input____s" id="{{item}}_label____s">{{enum_to_website_output(item)}}</label>
                        {#                             <button type="button" class="btn-close" data-bs-dismiss="alert" disabled aria-label="Close"></button>#}
                        </span>
                        {% endfor %}
                    </div>
                    <div class="row-3">
                        <div class="btn btn-secondary d-md-block" style="width: 100%; margin-top: 1rem!important;
                        margin-bottom: 1rem!important;" aria-haspopup="true" aria-expanded="false" id="resetTags">
                            <dd class="text-center font-weight-bold" style="margin-top: 2.5px!important; margin-bottom: 4px!important;">Clear all tags</dd>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-md-between">
            <!-- List of all the channels -->
            <div class="card flex-fill" id="result" style="color: black; background-color: #fbfbfb">
            </div>
        </div>
    </div>
</div>

{% endblock %}
