{% extends 'base.html' %}


{% block script %}
<script>
    // DROPDOWN
    $(function () {

        $(".dropdown-menu a").click(function () {

            $("#dropdownMenuButton1").text($(this).text());
            $("#dropdownMenuButton1").val($(this).text());
        });

    });
</script>
{% endblock %}


{% block content %}
    <!-- Handles making the user confirm they want to leave this page as all unsaved changes will be lost-->
    <body onbeforeunload = "return leavePageFunction()">
        <script>
            function leavePageFunction() {
                return "Testing something"
            }
        </script>

    </body>



<div class="container" style="margin-bottom: 3rem!important;  padding-left: 200px; padding-right: 200px">
        <!-- Title Section -->
        <div class="row">
                    <!-- If we are creating a resource  -->
                    <dt class="col-sm-9" style = "font-size: x-large; margin-top:2rem!important; margin-bottom: 2rem!important;">
                         Create Channel
                    </dt>
                    <!-- If we are editing a resource  -->
                    {#<dt class="col-sm-9" style = "font-size: x-large; margin-top:2rem!important; margin-bottom: 2rem!important;">
                         Edit Channel
                    </dt>#}

        </div>

        <div class="col d-flex justify-content-md-between">
             <form name="create_form" id="create_form" class = "form-outline flex-fill" action="{{ url_for('create_or_modify_channel') }}" onsubmit="return validate_form();" method="post" enctype="multipart/form-data">
                    <div class = "card flex-fill shadow-sm">
                                    <!-- Title of the resource-->
                                    <div class="mb-3" style="margin: 1rem!important;">
                                          <label for="Titleform" class="form-label" style="font-weight: bold; font-size: larger">Title</label>
                                        <!-- Help documentation -->
                                             <label title="Give your channel a relevant title.&nbsp<br>&nbsp;&nbsp<br>Use keywords that relate to what type of posts the channel will contain
                                                     make it easier for other users to find your channel."
                                                     data-bs-toggle="popover" data-bs-placement="right" data-content="Content" data-bs-html="true">
                                                 <svg xmlns="http://www.w3.org/2000/svg" width="35" height="17" fill="currentColor" class="bi bi-question-circle" style = "margin-bottom: 6px" viewBox="0 0 16 16">
                                                     <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                     <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                 </svg>

                                             </label>

                                        <textarea class="form-control required" id="Titleform" name="channel_title" placeholder="Title of your channel (required)"></textarea>

                                    </div>

                                    <!-- Description of the resource-->
                                  <div class="mb-3" style="margin: 1rem!important;">
                                        <label for="Bodyform" class="form-label" style="font-weight: bold; font-size: larger">Body</label>
                                      <!-- Help documentation-->
                                        <label title="Give your channel a detailed overview or description.&nbsp<br>&nbsp;&nbsp<br>Good starting points are to
                                        include what areas ofd discussion occur in the community, and any simple guidelines for users to follow.
                                        This is important as other users will read this to understand your channel."

                                               data-bs-toggle="popover" data-bs-placement="right" data-content="Content" data-bs-html="true">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="17" fill="currentColor" class="bi bi-question-circle" style = "margin-bottom: 6px" viewBox="0 0 16 16">
                                                     <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                     <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                            </svg>

                                        </label>

                                      <textarea class="form-control required" name="channel_description" id="Bodyform" rows="7" placeholder="Description (required)"></textarea>
                                  </div>

                                    <!-- Thumbnail file upload-->
                                    <div class="mb-3" style="margin: 1rem!important;">
                                            <label for="Bodyform" class="form-label" style="font-weight: bold; font-size: larger">Thumbnail Upload</label>
                                          <!-- Help documentation-->
                                            <label title="Upload a thumbnail which will be the cover image of the channel visible to users.&nbsp<br>&nbsp;&nbsp<br>Make it eye catching to draw attention to your resource."

                                                   data-bs-toggle="popover" data-bs-placement="right" data-content="Content" data-bs-html = "true">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="17" fill="currentColor" class="bi bi-question-circle" style = "margin-bottom: 6px" viewBox="0 0 16 16">
                                                         <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                         <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                </svg>
                                            </label>
                                          <div class="card flex-fill" id="thumbnailUpload">
                                              <div class="row">
                                                  <div class = "col-9">

                                                      <dd class="font-weight-bold" style="margin: 1rem!important;"><input type="file" name="thumbnail" class="btn btn-primary btn" style="margin: 1rem; margin-left: 7.5rem!important;"/></dd>
                                                  </div>

                                                </div>
                                          </div>
                                      </div>

                                    <!-- Tags-->
                                    <div class="mb-3" style="margin: 1rem!important;">
                                            <label for="Bodyform" class="form-label" style="font-weight: bold; font-size: larger">Subject, Year Level and Tags</label>
                                          <!-- Help documentation-->
                                            <label title="Specify the target year level and subject of your resource. This helps users refine their search of resources to find ones which suit their context and needs.&nbsp<br>&nbsp;&nbsp<br>
                                                          Select additional tags to further categorise your resource. If your resource is appropriate for multiple year levels or subjects,
                                                          we recommend selecting all the appropriate tags and select the most relevant subject and year level."
                                                   data-bs-toggle="popover" data-bs-placement="right" data-content="Content" data-bs-html = "true">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="17" fill="currentColor" class="bi bi-question-circle" style = "margin-bottom: 6px" viewBox="0 0 16 16">
                                                         <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                         <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                </svg>
                                            </label>
                                          <div class="card flex-fill" id="channelSubject">
                                              <!-- Subject-->
                                              <div class="row" style="margin-top: 1rem!important;">
                                                    <div class = "col-2" style="margin-left: 6rem!important; margin-top: 1rem!important;">
                                                        Select Subject:
                                                    </div>
                                                  <div class = "col-7">

                                                      <input name="subject" class="form-control" style = "margin-top:0.5rem!important;"
                                                        list="datalistOptions" id="exampleDataList" placeholder="Search Subjects...">
                                                      <datalist id="datalistOptions">
                                                          {% for item in subjects %}
                                                              <option value="{{item}}">
                                                          {% endfor %}
                                                      </datalist >
                                                  </div>
                                              </div>
                                              <!-- Year Level-->
                                              <div class="row" style="margin-top: 1rem!important;">
                                                    <div class = "col-2" style="margin-left: 6rem!important; margin-top: 1rem!important;">
                                                        Select Grade:
                                                    </div>
                                                  <div class = "col-7">
                                                      <input name="grade" class="form-control" style = "margin-top:0.5rem!important;"
                                                        list="datalistOptions2" id="exampleDataList2" placeholder="Search Grades...">
                                                        <datalist id="datalistOptions2">
                                                            {% for item in grades %}
                                                                <option value="{{item}}">
                                                            {% endfor %}
                                                        </datalist>
                                                  </div>
                                              </div>
                                              <!-- Tags-->
                                              <div class="row" style="margin-top: 1rem!important;">
                                                    <div class = "col-2" style="margin-left: 6rem!important; margin-top: 1rem!important;">
                                                        Select Tags:
                                                    </div>
                                                  <div class = "col-7">
                                                      <input class="form-control" style = "margin-top:0.5rem!important;"
                                                        list="datalistOptions3" id="exampleDataList3" placeholder="Search Tags...">
                                                      <datalist id="datalistOptions3">
                                                          {% for item in other_tags %}
                                                              <option value="{{item}}">
                                                          {% endfor %}
                                                      </datalist>
                                                  </div>
                                              </div>
                                            <!-- Put the matching tags here-->
                                               <div class = "row" style = "margin-top: 1.5rem!important; margin-bottom: 1rem!important;">
                                                    <div class = "col-2" style="margin-left: 6rem!important; margin-top: 0rem!important;">
                                                        Matching Tags:
                                                    </div>
                                                    <div class = "col-7">
                                                        <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;"> Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                            </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                             </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                            </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                             </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                            </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                            </span>
                                                    </div>
                                                </div>

                                                <!-- Put the applied tags here-->
                                                <div class = "row" style = "margin-top: 1rem!important; margin-bottom: 1rem!important;">
                                                    <div class = "col-2" style="margin-left: 6rem!important; margin-top: 0rem!important;">
                                                        Applied Tags:
                                                    </div>

                                                    <div class = "col-7">
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;"> Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                            </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                             </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                            </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                             </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                            </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                             </span>

                                                  </div>

                                                 </div>

                                          </div>
                                      </div>

                                    <!-- Privacy settings-->
                                    <div class="mb-3" style="margin: 1rem!important;">
                                            <label for="Bodyform" class="form-label" style="font-weight: bold; font-size: larger">Privacy</label>
                                          <!-- Help documentation-->
                                            <label title="Set the privacy settings of your channel.&nbsp<br>&nbsp;&nbsp<br>
                                            Public channels are viewable, searchable and accessible by anyone.&nbsp<br>&nbsp;&nbsp<br>
                                            Invite only channels are viewable and searchable publicly, but only accessible by those who you invite. &nbsp<br>&nbsp;&nbsp<br>
                                            Private channels are restricted to user accounts which you specify below."
                                                   data-bs-toggle="popover" data-bs-placement="right" data-content="Content" data-bs-html = "true">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="17" fill="currentColor" class="bi bi-question-circle" style = "margin-bottom: 6px" viewBox="0 0 16 16">
                                                         <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                         <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                </svg>
                                            </label>
                                          <div class="card flex-fill" id="channelSubject">
                                              <!-- Dropdown options-->
                                              <div class="d-flex">
                                                  <p class="h6" style="margin: 1.5rem!important;">Access: </p>
                                                    <div class="dropdown px-3" style="margin: 1rem!important;">
                                                        <select class="btn btn-primary dropdown-toggle" name="visibility_choice" onchange="showDiv(this)" style="min-width: 100px; height: 100%"
                                                             id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                            {% for visibility in visibility_options %}
                                                                {% if visibility == "Public" %}
                                                                    <option selected class="dropdown-item" style="background-color: white" value="{{ visibility }}" >{{ visibility }}</option>
                                                                {% else %}
                                                                    <option class="dropdown-item" style="background-color: white"  value="{{ visibility }}" >{{ visibility }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                          <!-- Decide when the hidden div will display -->
                                          <script type="text/javascript">
                                              function showDiv(visibility) {
                                                  if (visibility.value!=="Public") {
                                                      document.getElementById("hidden_div").style.display = "block";
                                                  } else {
                                                      document.getElementById('hidden_div').style.display = "none";
                                                  }
                                              }
                                          </script>

                                          <!-- Display this div only when visibility is not PUBLIC -->
                                          <div id="hidden_div" style="display: none">
                                              <!-- Search bar for users-->
                                              <div class = "row" style="margin-bottom: 2rem!important;">
                                                  <p class="h6" style="margin: 1.5rem; margin-bottom: 0rem!important;">Private User Access: </p>
                                                  <div class="input-group" style="margin: 1.5rem; margin-left: 2rem!important; padding: 0rem; padding-right: 50px!important; ">

                                                      <input type="email" id="new_personnel" class="form-control" placeholder="Enter emails of accounts you wish to access your channel" style="width: 60%">
                                                      <button type="button" class="btn btn-primary btn" style="margin-right: 1rem!important;" onclick="add_personnel()">Add to Personnel</button>
                                                    </div>
                                                  <!-- List of all the users -->
                                                  <script type="text/javascript">
                                                      function add_personnel() {
                                                          var email = document.getElementById("new_personnel").value;

                                                           // clear input text
                                                          document.getElementById("new_personnel").value="";

                                                          // check email validity
                                                          var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

                                                          if (!email.match(validRegex)) {
                                                              alert("Please ensure the email address is valid");
                                                              return;
                                                          }

                                                          console.log("email entered is " + email);
                                                          // entire personnel
                                                          var personnel = document.getElementById("personnel").getElementsByClassName("overflow-auto")[0];
                                                          // new li representing a new user email
                                                          var new_user = document.createElement("li");
                                                          new_user.setAttribute("class", "list-group-item");
                                                          new_user.textContent = email;
                                                          // create a hidden label that stores users' email
                                                          var user_email = document.createElement("input");
                                                          user_email.setAttribute("type", "hidden");
                                                          // all user emails have name personnel_ids (used in flask request.form.getlist()
                                                          user_email.setAttribute("name", "personnel_ids");
                                                          user_email.setAttribute("value", email);
                                                          {#user_email.textContent = email;#}
                                                          new_user.appendChild(user_email);
                                                          // button, onclick, remove this new_user li
                                                          var delete_user = document.createElement('button');
                                                          delete_user.setAttribute("class", "btn-close float-end");
                                                          delete_user.setAttribute("style", "margin-top: 5px");
                                                          delete_user.setAttribute("data-bs-dismiss", "alert");
                                                          delete_user.setAttribute('aria-label', "Close");
                                                          delete_user.setAttribute("onclick", "parentNode.parentNode.removeChild(parentNode)");
                                                          new_user.appendChild(delete_user);

                                                          personnel.appendChild(new_user);
                                                      }
                                                  </script>

                                                  <ul class="list-group" id="personnel" style="margin-left: 2rem!important; margin-bottom: 2rem!important; padding-right: 100px!important">
                                                      <div class = "overflow-auto" style="max-height: 208px">
                                                      </div>
                                                    </ul>

                                              </div>
                                          </div>
                                          </div>
                                      </div>


                    </div>
                    <div class="float-end mt-2 pt-1" style="margin-top: 1rem!important;">
                         <!-- IF WE ARE CREATING A RESOURCE, USE THE FOLLOWING BUTTONS-->
                        <!-- Button to upload the post-->
                      <input type="submit" name="submit" value="Upload Resource" form="create_form" class="btn btn-primary btn" style="margin-right: 1rem!important;"/>
                        <!-- Button to clear the title and body of the post-->
                        <button type="Button" class="btn btn-outline-danger btn" onclick="go_to_channel_home_page()">Discard Draft</button>
                         <!-- IF WE ARE CREATING EDITTING A RESOURCE, USE THE FOLLOWING BUTTONS-->
                        {#<button type="button" class="btn btn-primary btn" style="margin-right: 1rem!important;">Save Changes</button>
                        <button type="Button" class="btn btn-outline-primary btn">Discard Changes</button>#}

                    </div>
                 </form>

        </div>

    </div>
    <!--This handles the popover for the help documentation-->
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function(popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
})
    </script>
    <!-- Validation check on form submit. Currently only check title and description -->
    <script type="text/javascript">
    function validate_form() {
        var valid = true;

        if (document.getElementsByClassName("required").channel_title.value==="" ||
            document.getElementsByClassName("required").channel_description.value==="") {
            alert("Please ensure all the required sections are filled!")
            valid = false;
        }
        return valid;

    }
    </script>

    <!-- Redirect to channel home page (used for discard draft) -->
    <script type="text/javascript">
        function go_to_channel_home_page() {
            window.location.href="{{ url_for('view_channel') }}";
        }
    </script>
{% endblock %}