{% extends 'base.html' %}

{% block style %}
<style>
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }


        body {
            /* Adds a Hex honeycomb background */
            /* background-image: url(
        {{url_for('static', filename='img/hex_back.png')}} ),radial-gradient(rgb(254, 239, 255),rgb(246, 244, 255),rgb(254, 239, 255)); */
            background-color: #ffe5ec;

            background-image: radial-gradient(rgb(255, 242, 245), rgb(255, 242, 245), rgb(255, 242, 245));
        {#background-color: rgb(245, 245, 255);#}
        }
    .btn-primary {
        background-color: #ff8fab;
        color: white;
        border-color: #ff8fab;
    }
    .btn-primary:hover {
        color:white;
        background-color: #3a78ef;
    }

    .btn-outline-primary {
        background-color: rgb(255, 255, 255);
        color:#000000;
        border-color: white;
    }

    .btn-outline-primary:hover {
        color:white;
        background-color: #3a78ef;
    }

    .btn-check:checked+.btn-outline-primary {
        color: white;
        background-color:  #ff8fab;
        border-color:   #ff8fab;
    }
    .bg-white {
        background-color: #ffd6e1;
    }
    .bg-primary {
        background-color: #ff8fab!important;
    }
    .btn-close {
        width: 0.5rem;
        height: 0.5rem;
    }



</style>
{% endblock %}

{% block content %}
    <body onbeforeunload = "return myFunction()">
        <script>
            function myFunction() {
                return "Testing something"
            }
        </script>
    </body>

<div class="container">
<!-- Question and top section -->
        <div class="row">
                    <dt class="col-sm-9" style = "font-size: xx-large; margin-top:2rem!important;">
                         Create Post
                    </dt>
                     <!-- NOTE: IF THE USER IS NOT THE ADMIN, THIS SECTION OF HTML IS DELETED -->
                    <div class="col-3" style="margin-top:2rem!important;">
                        <div class = "d-flex flex-row-reverse" >
                         <a href="{{url_for('create')}}" class="btn btn-primary d-md-block" style = "width: 60%" aria-haspopup="true" aria-expanded="false">
                            <dd class="text-center font-weight-bold">Edit Post</dd>
                        </a>
                        </div>
                    </div>
        </div>

        <div class="col d-flex justify-content-md-between">

            <!-- FIXME Change UID 1 to logged in user -->
                <!-- First card to indicate the original post-->
                    <div class="card flex-fill shadow-sm" style="margin-top: 2rem!important;">

                            <hr style="width:97%; margin-right: 60px; margin-left: 15px; margin-bottom: 0rem!important;">

                    </div>

            <!-- Reply Box -->
        </div>
        <div class="d-flex flex-start w-100" style = "margin-top: 2rem!important">
              <img
                            class="rounded-circle shadow-1-strong me-3"
                            src="{{url_for('static', filename='img/default_profile.png')}}"
                            alt="avatar"
                            width="50"
                            height="50"
                          />
              <div class="form-outline w-100">
                <textarea
                  class="form-control"
                  id="textAreaExample"
                  rows="4"
                  style="background: #fff;"
                  placeholder = "Leave a comment"
                ></textarea>

            <div class="float-end mt-2 pt-1">
                <!-- Button to leave a comment. NEEDS TO BE IMPLEMENTED-->
              <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem!important;">Post Comment</button>
                <!-- NEEDS TO BE IMPLEMENTED, clears the form / comment box-->
              <button type="Button" class="btn btn-outline-primary btn-sm">Cancel</button>
            </div>
          </div>
        </div>

    </div>
</div>
{% endblock %}