{% extends 'base.html' %}

{% block style %}
<style>
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }


        body {
            /* Adds a Hex honeycomb background */
            /* background-image: url(
        {{url_for('static', filename='img/hex_back.png')}} ),radial-gradient(rgb(254, 239, 255),rgb(246, 244, 255),rgb(254, 239, 255)); */
            background-color: #ffe5ec;

            background-image: radial-gradient(rgb(255, 242, 245), rgb(255, 242, 245), rgb(255, 242, 245));
        {#background-color: rgb(245, 245, 255);#}
        }
    .btn-primary {
        background-color: #ff8fab;
        color: white;
        border-color: #ff8fab;
    }
    .btn-primary:hover {
        color:white;
        background-color: #3a78ef;
    }

    .btn-outline-primary {
        background-color: rgb(255, 255, 255);
        color:#000000;
        border-color: white;
    }

    .btn-outline-primary:hover {
        color:white;
        background-color: #3a78ef;
    }

    .btn-check:checked+.btn-outline-primary {
        color: white;
        background-color:  #ff8fab;
        border-color:   #ff8fab;
    }
    .bg-white {
        background-color: #ffd6e1;
    }
    .bg-primary {
        background-color: #ff8fab!important;
    }
    .btn-close {
        width: 0.5rem;
        height: 0.5rem;
    }



</style>
{% endblock %}

{% block content %}
    <!-- Handles making the user confirm they want to leave this page as all unsaved changes will be lost-->
    <body onbeforeunload = "return leavePageFunction()">
        <script>
            function leavePageFunction() {
                return "Testing something"
            }
        </script>
    </body>

<div class="container" style="margin-bottom: 3rem!important;">
        <!-- Title Section -->
        <div class="row">
                    <!-- If we are creating a post  -->
                    <dt class="col-sm-9" style = "font-size: x-large; margin-top:2rem!important; margin-bottom: 2rem!important;">
                         Create Post
                    </dt>
                    <!-- If we are editing a post  -->
                    {#<dt class="col-sm-9" style = "font-size: x-large; margin-top:2rem!important; margin-bottom: 2rem!important;">
                         Edit Post
                    </dt>#}

        </div>

        <div class="col d-flex justify-content-md-between">
             <form class = "form-outline flex-fill">
                    <div class = "card flex-fill shadow-sm">
                                    <!-- Indicates what channel the post is being posted to-->
                                    <div class = "mb-3" style="margin: 1rem!important;">
                                        <!-- If we are creating a post  -->
                                        <label for="channelControl" class="form-label" style="font-size: larger">Create a new post in the channel:</label>
                                        <!-- If we are editting a post  -->
                                        {#<label for="channelControl" class="form-label" style="font-size: larger">Editting a post in the channel:</label>#}
                                        <input class="form-control" type="text" id = "channelControl" placeholder="(Jason insert Channel Name)" aria-label="Disabled input Channel Name" disabled>
                                    </div>
                                    <!-- Title of the post-->
                                    <div class="mb-3" style="margin: 1rem!important;">
                                          <label for="Titleform" class="form-label" style="font-weight: bold; font-size: larger">Title:</label>
                                        <textarea type="email" class="form-control" id="Titleform" placeholder="Enter a title for your post"></textarea>
                                    </div>
                                    <!-- Body of the post-->
                                  <div class="mb-3" style="margin: 1rem!important;">
                                          <label for="Bodyform" class="form-label" style="font-weight: bold; font-size: larger">Body:</label>
                                          <textarea class="form-control" id="Bodyform" rows="7" placeholder="Description"></textarea>
                                  </div>


                    </div>
                    <div class="float-end mt-2 pt-1" style="margin-top: 1rem!important;">
                         <!-- IF WE ARE CREATING A POST, USE THE FOLLOWING BUTTONS-->
                        <!-- Button to upload the post-->
                      <button type="button" class="btn btn-primary btn" style="margin-right: 1rem!important;">Upload Post</button>
                        <!-- Button to clear the title and body of the post-->
                        <button type="Button" class="btn btn-outline-primary btn">Discard Draft</button>
                         <!-- IF WE ARE CREATING EDITTING A POST, USE THE FOLLOWING BUTTONS-->
                        {#<button type="button" class="btn btn-primary btn" style="margin-right: 1rem!important;">Save Changes</button>
                        <button type="Button" class="btn btn-outline-primary btn">Discard Changes</button>#}

                    </div>
                 </form>

        </div>

    </div>
{% endblock %}