{% extends 'base.html' %}

{% block style %}
<style>
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }


        body {
            /* Adds a Hex honeycomb background */
            /* background-image: url(
        {{url_for('static', filename='img/hex_back.png')}} ),radial-gradient(rgb(254, 239, 255),rgb(246, 244, 255),rgb(254, 239, 255)); */
            background-color: #ffe5ec;

            background-image: radial-gradient(rgb(255, 242, 245), rgb(255, 242, 245), rgb(255, 242, 245));
        {#background-color: rgb(245, 245, 255);#}
        }
    .btn-primary {
        background-color: #ff8fab;
        color: white;
        border-color: #ff8fab;
    }
    .btn-primary:hover {
        color:white;
        background-color: #3a78ef;
    }

    .btn-outline-primary {
        background-color: rgb(255, 255, 255);
        color:#000000;
        border-color: white;
    }

    .btn-outline-primary:hover {
        color:white;
        background-color: #3a78ef;
    }

    .btn-check:checked+.btn-outline-primary {
        color: white;
        background-color:  #ff8fab;
        border-color:   #ff8fab;
    }
    .bg-white {
        background-color: #ffd6e1;
    }
    .bg-primary {
        background-color: #ff8fab!important;
    }
    .btn-close {
        width: 0.5rem;
        height: 0.5rem;
    }

    .popover {
        max-width: 400px;
        whtie-space: pre-line;
    }



</style>



{% endblock %}

{% block script %}
<script>
    // DROPDOWN
    $(function () {

        $(".dropdown-menu a").click(function () {

            $("#dropdownMenuButton1").text($(this).text());
            $("#dropdownMenuButton1").val($(this).text());
        });

    });
</script>
{% endblock %}


{% block content %}
    <!-- Handles making the user confirm they want to leave this page as all unsaved changes will be lost-->
    <body onbeforeunload = "return leavePageFunction()">
        <script>
            function leavePageFunction() {
                return "Testing something"
            }
        </script>

    </body>



<div class="container" style="margin-bottom: 3rem!important;">
        <!-- Title Section -->
        <div class="row">
                    <!-- If we are creating a resource  -->
                    <dt class="col-sm-9" style = "font-size: x-large; margin-top:2rem!important; margin-bottom: 2rem!important;">
                         Create Resource
                    </dt>
                    <!-- If we are editing a resource  -->
                    {#<dt class="col-sm-9" style = "font-size: x-large; margin-top:2rem!important; margin-bottom: 2rem!important;">
                         Edit Resource
                    </dt>#}

        </div>

        <div class="col d-flex justify-content-md-between">
             <form class = "form-outline flex-fill">
                    <div class = "card flex-fill shadow-sm">
                                    <!-- Title of the resource-->
                                    <div class="mb-3" style="margin: 1rem!important;">
                                          <label for="Titleform" class="form-label" style="font-weight: bold; font-size: larger">Title</label>
                                        <!-- Help documentation -->
                                             <label title="Give your resource a relevant title.&nbsp<br>&nbsp;&nbsp<br>&nbsp;Use keywords that relate to the resource in the
                                                     title to make it easier for other users to find your resource through searching."
                                                     data-bs-toggle="popover" data-bs-placement="right" data-content="Content" data-bs-html="true">

                                                 <svg xmlns="http://www.w3.org/2000/svg" width="35" height="17" fill="currentColor" class="bi bi-question-circle" style = "margin-bottom: 6px" viewBox="0 0 16 16">
                                                     <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                     <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                 </svg>

                                             </label>

                                        <textarea type="email" class="form-control" id="Titleform" placeholder="Title of your post (required)"></textarea>

                                    </div>

                                    <!-- Description of the resource-->
                                  <div class="mb-3" style="margin: 1rem!important;">
                                        <label for="Bodyform" class="form-label" style="font-weight: bold; font-size: larger">Body</label>
                                      <!-- Help documentation-->
                                        <label title="Give your resource a detailed overview or descriptions.&nbsp<br>&nbsp;&nbsp<br>&nbsp;Good starting points are to
                                        include the resources contents, guide to use resource and what the resource aims to achieve.
                                        This is important as other users will read this to understand your resource."
                                               data-bs-toggle="popover" data-bs-placement="right" data-content="Content" data-bs-html="true">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="17" fill="currentColor" class="bi bi-question-circle" style = "margin-bottom: 6px" viewBox="0 0 16 16">
                                                     <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                     <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                            </svg>
                                        </label>
                                      <textarea class="form-control" id="Bodyform" rows="7" placeholder="Description (required)"></textarea>
                                  </div>

                                    <!-- Resource file upload-->
                                    <div class="mb-3" style="margin: 1rem!important;">
                                            <label for="Bodyform" class="form-label" style="font-weight: bold; font-size: larger">File Upload</label>
                                          <!-- Help documentation-->
                                            <label title="Upload a single file which contains your resource in any format you want.&nbsp<br>&nbsp;&nbsp<br>&nbsp;If you wish to submit multiple
                                                          files under a single resource, we recommend zipping together the resources and describing the files instead in the description"
                                                   data-bs-toggle="popover" data-bs-placement="right" data-content="Content" data-bs-html = "true">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="17" fill="currentColor" class="bi bi-question-circle" style = "margin-bottom: 6px" viewBox="0 0 16 16">
                                                         <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                         <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                </svg>
                                            </label>
                                          <div class="card flex-fill" id="resourceUpload">
                                              <div class="row">
                                                  <div class = "col-10">
                                                      <dd class="font-weight-bold" style="margin: 1rem!important;">Caleb File Name Here</dd>
                                                  </div>
                                                    <div class="col-2" style="margin-top: 0rem!important;">
                                                    <!-- IF WE ARE CREATING A POST, USE THE FOLLOWING BUTTONS-->
                                                        <!-- Button to upload the post-->
                                                      <button type="button" class="btn btn-primary btn" style="margin: 1rem; margin-left: 4rem!important;">Upload File</button>
                                                        <!-- Button to clear the title and body of the post-->
                                                    </div>


                                                </div>
                                          </div>
                                      </div>

                                    <!-- Thumbnail file upload-->
                                    <div class="mb-3" style="margin: 1rem!important;">
                                            <label for="Bodyform" class="form-label" style="font-weight: bold; font-size: larger">Thumbnail Upload</label>
                                          <!-- Help documentation-->
                                            <label title="Upload a thumbnail which will be the cover image of the resource visible to users.&nbsp<br>&nbsp;&nbsp<br>&nbsp;Make it eye catching to draw attention to your resource."
                                                   data-bs-toggle="popover" data-bs-placement="right" data-content="Content" data-bs-html = "true">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="17" fill="currentColor" class="bi bi-question-circle" style = "margin-bottom: 6px" viewBox="0 0 16 16">
                                                         <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                         <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                </svg>
                                            </label>
                                          <div class="card flex-fill" id="resourceUpload">
                                              <div class="row">
                                                  <div class = "col-9">
                                                      <dd class="font-weight-bold" style="margin: 1rem!important;">Caleb Thumbnail Name Here</dd>
                                                  </div>
                                                    <div class="col-3" style="margin-top: 0rem!important;">
                                                    <!-- IF WE ARE CREATING A POST, USE THE FOLLOWING BUTTONS-->
                                                        <!-- Button to upload the post-->
                                                      <button type="button" class="btn btn-primary btn" style="margin: 1rem; margin-left: 7.5rem!important;">Upload Thumbnail</button>
                                                        <!-- Button to clear the title and body of the post-->
                                                    </div>


                                                </div>
                                          </div>
                                      </div>

                                    <!-- Tags-->
                                    <div class="mb-3" style="margin: 1rem!important;">
                                            <label for="Bodyform" class="form-label" style="font-weight: bold; font-size: larger">Subject, Year Level and Tags</label>
                                          <!-- Help documentation-->
                                            <label title="Specify the target year level and subject of your resource. This helps users refine their search of resources to find ones which suit their context and needs.&nbsp<br>&nbsp;&nbsp<br>&nbsp;


                                                          Select additional tags to further categorise your resource. If your resource is appropriate for multiple year levels or subjects,
                                                          we recommend selecting all the appropriate tags and select the most relevant subject and year level."
                                                   data-bs-toggle="popover" data-bs-placement="right" data-content="Content" data-bs-html = "true">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="17" fill="currentColor" class="bi bi-question-circle" style = "margin-bottom: 6px" viewBox="0 0 16 16">
                                                         <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                         <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                </svg>
                                            </label>
                                          <div class="card flex-fill" id="resourceUpload">
                                              <!-- Subject-->
                                              <div class="row" style="margin-top: 1rem!important;">
                                                    <div class = "col-2" style="margin-left: 6rem!important; margin-top: 1rem!important;">
                                                        Select Subject:
                                                    </div>
                                                  <div class = "col-7">
                                                                          <input class="form-control" style = "margin-top:0.5rem!important;"
                                                   list="datalistOptions" id="exampleDataList" placeholder="Search Subjects...">
                                                                      <datalist id="datalistOptions">
                                                                            {% for item in subject %}
                                                                          <option value="{{item}}">
                                                                            {% endfor %}
                                                                      </datalist>
                                                  </div>
                                              </div>
                                              <!-- Year Level-->
                                              <div class="row" style="margin-top: 1rem!important;">
                                                    <div class = "col-2" style="margin-left: 6rem!important; margin-top: 1rem!important;">
                                                        Select Grade:
                                                    </div>
                                                  <div class = "col-7">
                                                                          <input class="form-control" style = "margin-top:0.5rem!important;"
                                                   list="datalistOptions2" id="exampleDataList2" placeholder="Search Grades...">
                                                                      <datalist id="datalistOptions2">
                                                                            {% for item in grade %}
                                                                          <option value="{{item}}">
                                                                            {% endfor %}
                                                                      </datalist>
                                                  </div>
                                              </div>
                                              <!-- Tags-->
                                              <div class="row" style="margin-top: 1rem!important;">
                                                    <div class = "col-2" style="margin-left: 6rem!important; margin-top: 1rem!important;">
                                                        Select Tags:
                                                    </div>
                                                  <div class = "col-7">
                                                                          <input class="form-control" style = "margin-top:0.5rem!important;"
                                                   list="datalistOptions3" id="exampleDataList3" placeholder="Search Tags...">
                                                                      <datalist id="datalistOptions3">
                                                                            {% for item in tag %}
                                                                          <option value="{{item}}">
                                                                            {% endfor %}
                                                                      </datalist>
                                                  </div>
                                              </div>
                                                <!-- Put the applied tags here-->
                                                <div class = "row" style = "margin-top: 1.5rem!important; margin-bottom: 1rem!important;">
                                                    <div class = "col-2" style="margin-left: 6rem!important; margin-top: 1rem!important;">
                                                        Applied Tags:
                                                    </div>

                                                    <div class = "col-7">
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;"> Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                            </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                             </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                            </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                             </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                            </span>
                                                            <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;">Applied tags go here
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                             </span>

                                                  </div>

                                                 </div>

                                          </div>
                                      </div>

                                    <!-- Privacy setttings-->
                                    <div class="mb-3" style="margin: 1rem!important;">
                                            <label for="Bodyform" class="form-label" style="font-weight: bold; font-size: larger">Privacy</label>
                                          <!-- Help documentation-->
                                            <label title="Set the privacy settings of your resource.&nbsp<br>&nbsp;&nbsp<br>&nbsp;Public resources are viewable by anyone, whereas private resources are
                                                          restricted to user accounts which you specify below."
                                                   data-bs-toggle="popover" data-bs-placement="right" data-content="Content" data-bs-html = "true">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="17" fill="currentColor" class="bi bi-question-circle" style = "margin-bottom: 6px" viewBox="0 0 16 16">
                                                         <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                         <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                                </svg>
                                            </label>
                                          <div class="card flex-fill" id="resourceUpload">
                                              <!-- Dropdown options-->
                                              <div class="d-flex">
                                                  <p class="h6" style="margin: 1.5rem!important;">Access: </p>
                                                    <div class="dropdown px-3" style="margin: 1rem!important;">
                                                        <button class="btn btn-primary dropdown-toggle" style="min-width: 100px; height: 100%" type="button"
                                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                            Public
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="javascript:void(0)">Public </a>
                                                            <a class="dropdown-item" href="javascript:void(0)">Private</a>
                                                        </div>
                                                    </div>
                                                </div>
                                              <!-- Search bar for users-->
                                              <div class = "row">
                                                  <p class="h6" style="margin: 1.5rem; margin-bottom: 0rem!important;">Private User Access: </p>
                                                  <div class="input-group" style="margin: 1.5rem; margin-left: 2rem!important; padding: 0rem; padding-right: 100px!important; ">
                                                        <input type="search" name="title" class="form-control" placeholder="Enter emails of accounts you wish to access your resource"
                                                         id="search_content" style="width: 95%">
                                                    </div>
                                                  <ul class="list-group" style="margin-left: 2rem!important; padding-right: 100px!important">
                                                      <div class = "overflow-auto" style="max-height: 200px">
                                                      <li class="list-group-item">IhateDecoPleaseSaveMeFigmaGod@yourmum.com
                                                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                      </li>
                                                      <li class="list-group-item">PleaseGiveMeAccessToResource@yourmum.com
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                      </li>
                                                          <li class="list-group-item">PeePeePooPoo@yourmum.com
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                      </li>
                                                          <li class="list-group-item">LigmaBofaSuckmaAmongus@yourmum.com
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                      </li>
                                                          <li class="list-group-item">SussyBalls@yourmum.com
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                      </li>
                                                           <li class="list-group-item">DrakeIsTheTypeOfFella@yourmum.com
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                      </li>
                                                           <li class="list-group-item">WWWWWWWWWWW@yourmum.com
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                      </li>

                                                      </div>
                                                    </ul>

                                              </div>
                                          </div>
                                      </div>


                    </div>
                    <div class="float-end mt-2 pt-1" style="margin-top: 1rem!important;">
                         <!-- IF WE ARE CREATING A POST, USE THE FOLLOWING BUTTONS-->
                        <!-- Button to upload the post-->
                      <button type="button" class="btn btn-primary btn" style="margin-right: 1rem!important;">Upload Resource</button>
                        <!-- Button to clear the title and body of the post-->
                        <button type="Button" class="btn btn-outline-primary btn">Discard Draft</button>
                         <!-- IF WE ARE CREATING EDITTING A POST, USE THE FOLLOWING BUTTONS-->
                        {#<button type="button" class="btn btn-primary btn" style="margin-right: 1rem!important;">Save Changes</button>
                        <button type="Button" class="btn btn-outline-primary btn">Discard Changes</button>#}

                    </div>
                 </form>

        </div>

    </div>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function(popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
})
    </script>
{% endblock %}