{% extends 'base.html' %}

{% block content %}

    <div class="container" style="padding: 50px">
        <div class="row">
            <div class="col d-flex justify-content-md-between">
                <div class="h5"> Welcome Back Ashley</div>
                <dt>
                    On the home page, find tailored recommended resources and channels based on your preferred tags on your user profile
                </dt>
                <div class="h5"> Recommended Content</div>
            </div>

            <div class="col-3">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Notifications <span class="badge bg-danger">6 <!-- number of notifications go here --> </span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#" {# probs want a link here to the actual resource :) #} >BruhBruhBruh</a></li>
                    </ul>
	            </div>
            </div>

        </div>



    </div>
{% endblock %}