{% extends 'base.html' %}

{% block style %}
<style>
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }


        body {
            /* Adds a Hex honeycomb background */
            /* background-image: url(
        {{url_for('static', filename='img/hex_back.png')}} ),radial-gradient(rgb(254, 239, 255),rgb(246, 244, 255),rgb(254, 239, 255)); */
            background-color: #ffe5ec;

            background-image: radial-gradient(rgb(255, 242, 245), rgb(255, 242, 245), rgb(255, 242, 245));
        {#background-color: rgb(245, 245, 255);#}
        }
    .btn-primary {
        background-color: #ff8fab;
        color: white;
        border-color: #ff8fab;
    }
    .btn-primary:hover {
        color:white;
        background-color: #3a78ef;
    }

    .btn-outline-primary {
        background-color: rgb(255, 255, 255);
        color:#000000;
        border-color: white;
    }

    .btn-outline-primary:hover {
        color:white;
        background-color: #3a78ef;
    }

    .btn-check:checked+.btn-outline-primary {
        color: white;
        background-color:  #ff8fab;
        border-color:   #ff8fab;
    }
    .bg-white {
        background-color: #ffd6e1;
    }
    .bg-primary {
        background-color: #ff8fab!important;
    }
    .btn-close {
        width: 0.5rem;
        height: 0.5rem;
    }

     a {
        color: #000000;
    }
</style>
{% endblock %}

{% block script %}


{% endblock %}

{% block content %}

<div class="container">
<!-- Question and top section -->
        <div class="row">
                    <dt class="col-sm-9" style = "font-size: x-large; margin-top:2rem!important;">
                        {{post_info["title"]}}
                    </dt>
                    {% if has_edit_privilege %}
                     <!-- NOTE: IF THE USER IS NOT THE ADMIN, THIS SECTION OF HTML IS DELETED -->
                    <div class="col-3" style="margin-top:2rem!important;">
                        <div class = "d-flex flex-row-reverse" >
                         <a href="{{url_for('create_or_modify_channel_post', cid=channel.cid, post_id=post_info['post_id'])}}" class="btn btn-primary d-md-block" style = "width: 60%" aria-haspopup="true" aria-expanded="false">
                            <dd class="text-center font-weight-bold">Edit Post</dd>
                        </a>
                        </div>
                    </div>
                    {% endif %}
        </div>




     <!-- Template for a initial post card (The initial post)-->
<div class="col d-flex justif-content-md-between">
    <div class="card flex-fill shadow-sm" style = "margin-top: 2rem!important;">
                <div class="row">
                    <!-- Profile picture-->
                    <div class="col-2" style="width: 10%">
                        <img class="rounded-circle img-fluid" src="{{url_for('static', filename=post_info['author_avatar_link'])}}" ,
                             alt="Logo" width="65" style="margin:10px!important; margin-left:15px!important; margin-right: 15px!important;">
                    </div>

                    <div class="col" style="margin-top: 10px!important; margin-bottom: 5px!important; margin-right: 2rem!important;">
                        <!-- Author name and time -->
                        <div class = "row">
                            <div class="fw-bold" style="padding: 0rem!important; font-size: large; margin-bottom: 1rem!important;">
                                {{ post_info["username"] }} - Posted on {{ post_info["created_at"] }}
                            </div>
                        </div>
                                <!-- Description on a channel -->
                        <div class = "row">
                            <span style="font-size: small; padding-left: 0; text-align: justify">
                                {{ post_info["init_text"] }}  <!-- THIS IS THE ONLY LINE THAT IS DIFFERENT TO A NORMAL COMMENT-->
                            </span>
                        </div>
                    </div>
                </div>

{#                id="post_{{ post_info["post_id"] }}_upvote_count"#}
                <div class="d-flex flex-row-reverse"style = "margin-right: 2rem!important; margin-top: 0.25rem!important;">
                    <img class="rounded img-fluid"  src="{{url_for('static', filename='img/downvotepink.PNG')}}"
                             alt="Logo" width="25" style="margin:2px!important; margin-left:0.5rem!important; margin-right: 2px!important;" onclick="votePostOrComment('post', {{ post_info['post_id'] }}, false)">
                    <p class="card-text px-3" id="post_{{ post_info["post_id"]|string }}_downvote_count">{{ post_info["downvote_count"] }}</p>
                    <img class="rounded img-fluid" src="{{url_for('static', filename='img/UpvotePink.PNG')}}"
                             alt="Logo" width="25" style="margin:2px!important; margin-left:0.5rem!important; margin-right: 1rem!important;" onclick="votePostOrComment('post',{{ post_info['post_id'] }}, true)">
                    <p class="card-text px-3" id="post_{{ post_info["post_id"]|string }}_upvote_count">{{post_info["upvote_count"]}}</p>
                </div>

                <hr style="width:97%; margin-right: 60px; margin-left: 15px; margin-bottom: 0rem!important;">


    <!-- Template for a comment card (Not the initial post)-->

    {% for comment in comments_info %}
        <div class="row">
            <!-- Profile picture-->
            <div class="col-2" style="width: 10%">
                <img class="rounded-circle img-fluid" src="{{url_for('static', filename=comment["commenter_avatar_link"])}}" ,
                     alt="Logo" width="65" style="margin:10px!important; margin-left:15px!important; margin-right: 15px!important;">
            </div>

            <div class="col" style="margin-top: 10px!important; margin-bottom: 5px!important; margin-right: 2rem!important;">
                <!-- commenter name and time -->
                <div class = "row">
                    <div class="fw-bold" style="padding: 0rem!important; font-size: large; margin-bottom: 1rem!important;">
                        {{ comment["username"]}} - Posted on {{ comment["created_at"] }}
                    </div>
                </div>
                        <!-- Description on a channel -->
                <div class = "row">
                    <span style="font-size: small; padding-left: 0; text-align: justify">
                        {{comment["text"]}}
                    </span>
                </div>
            </div>
        </div>

                <div class="d-flex flex-row-reverse"style = "margin-right: 2rem!important; margin-top: 0.25rem!important;">
                    <img class="rounded img-fluid" src="{{url_for('static', filename='img/downvotepink.PNG')}}"
                             alt="Logo" width="25" style="margin:2px!important; margin-left:0.5rem!important; margin-right: 2px!important;" onclick="votePostOrComment('comment', {{ comment['post_comment_id'] }}, false)">
                    <p class="card-text px-3" id="comment_{{ comment["post_comment_id"]|string }}_downvote_count">{{comment["downvote_count"]}}</p>
                    <img class="rounded img-fluid" src="{{url_for('static', filename='img/UpvotePink.PNG')}}"
                             alt="Logo" width="25" style="margin:2px!important; margin-left:0.5rem!important; margin-right: 1rem!important;" onclick="votePostOrComment('comment', {{ comment['post_comment_id'] }}, true)">
                    <p class="card-text px-3" id="comment_{{ comment["post_comment_id"]|string }}_upvote_count">{{comment["upvote_count"]}}</p>

                </div>

                <hr style="width:97%; margin-right: 60px; margin-left: 15px; margin-bottom: 0rem!important;">
    {% endfor %}
    </div>
</div>
<script type="text/javascript">
    // implement voting
    function votePostOrComment(post_or_comment, id, is_upvote) {
        $.ajax({
                type: "GET",
                url: "{{ url_for('vote_channel_post_or_comment') }}",
                data: {
                    "uid": {{ current_user_id }},
                    "id": id,
                    "upvote": is_upvote,
                    "post_or_comment": post_or_comment
                },
                success: function (response) {
                    var down_text = post_or_comment + "_" + id.toString() + "_downvote_count"

                    var up_text = post_or_comment + "_" + id.toString() + "_upvote_count"

                    // update
                    $("#" + up_text).text(response["upvote_count"]);
                    $("#" + down_text).text(response["downvote_count"]);
                    console.log("upvote name " + up_text)
                    console.log("new upvote is" + $('#' + up_text).text())
                    console.log("new downvote is " + $('#' + down_text).text())
                }
            }
        )
    }

</script>



            <!-- Reply Box -->
        <div class="d-flex flex-start w-100" style = "margin-top: 2rem!important">
              <img
                            class="rounded-circle shadow-1-strong me-3"
                            src="{{url_for('static', filename='avatar/ashley_gibbons.png')}}"
                            alt="avatar"
                            width="50"
                            height="50"
                          />
            <form class = "form-outline w-100" id="comment_form" action="{{ url_for('add_new_post_comment', cid=channel.cid, post_id=post_info['post_id']) }}" method="post">
                <div class="form-outline w-100">
                    <textarea
                      class="form-control"
                      id="comment_input"
                      rows="4"
                      style="background: #fff;"
                      placeholder = "Leave a comment"
                      form="comment_form"
                      name="comment_text"
                    ></textarea>

                    <div class="float-end mt-2 pt-1">


                <!-- Button to leave a comment. NEEDS TO BE IMPLEMENTED-->
                        <input type="submit" form="comment_form" value="Post Comment" class="btn btn-primary btn-sm"
                               style="margin-right: 1rem!important;"/>
                <!-- NEEDS TO BE IMPLEMENTED, clears the form / comment box-->
                  <button type="Button" class="btn btn-outline-primary btn-sm" onclick="javascript:eraseText()">Clear</button>


                    <script>
                    // use this to clear text in textarea when Clear button is clicked
                    function eraseText() {
                        document.getElementById("comment_input").value = "";
                    }
                    </script>
                    </div>
                </div>
            </form>



          </div>
        </div>
{% endblock %}