{% extends 'base.html' %}

{% block style %}
<style>
    .c-form {
        /* width: 30em; */
        /*width: 30%;*/
        height: 2.5em;
        
        border-radius: 6.25em;
        /*position: absolute;*/
        background-color: #FFFFFF;
        border-width: 1em;
        padding: 0.4em;
        box-sizing: border-box;
        /*display: flex;*/
        /*justify-content: end;*/
        align-items: center;
    }
    .c-form-input {
        font: inherit;
        border: 0;
        outline: 0;
        border-radius: 5em;
        box-sizing: border-box;
        color: #000000;
        height: 100%;
        width: 100%;
        padding: 0 0.714em;
    }
</style>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class='container'>
    <div class="row p-3">
        <div class="col-12 d-flex justify-content-center">
            <!-- logo and title -->
            <img src="{{url_for('static', filename='img/logo.png')}}" , alt="Logo" , width="350">
        </div>
    </div>
    
    <div class="row p-3">
        <div class="col-12 d-flex justify-content-center">
            <h1>Create Account</h1>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('register_details') }}">
        <!-- input fields -->
        <!-- Email -->
        <div class="row p-3 align-items-center justify-content-center">
            <div class="col-4 d-flex justify-content-end">Email:</div>
            <div class="col-4 d-flex justify-content-center">
                <div class="c-form" style="width: 100%;">
                    <input class="c-form-input" type="email" id="email" required>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-start"></div>
        </div>
        {% if emailUsed %}
            <div class="row justify-content-center" style="color: red;">
                Email is already used!
            </div>
        {% endif %}

        <!-- Password -->
        <div class="row p-3 align-items-center justify-content-center">
            <div class="col-4 d-flex justify-content-end">Password:</div>
            <div class="col-4 d-flex justify-content-center">
                <div class="c-form" style="width: 100%;">
                    <input class="c-form-input" type="password" id="password" required>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-start"></div>
        </div>
        {% if passwordBad %}
            <div class="row justify-content-center" style="color: red;">
                Password is too simple!
            </div>
        {% endif %}

        <!-- Password Confirmation -->
        <div class="row p-3 align-items-center justify-content-center">
            <div class="col-4 d-flex justify-content-end">Confirm Password:</div>
            <div class="col-4 d-flex justify-content-center">
                <div class="c-form" style="width: 100%;">
                    <input class="c-form-input" type="password" id="confirmpassword" required>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-start"></div>
        </div>
        {% if passwordDifferent %}
            <div class="row justify-content-center" style="color: red;">
                Passwords do not match!
            </div>
        {% endif %}



        <!-- buttons -->
        <div class="row p-3">
            <div class="col-6 d-flex justify-content-end p-3">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
            <div class="col-6 d-flex justify-content-start p-3">
                <a href="{{ url_for('home') }}" class="btn btn-primary">Cancel</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}