{% extends 'base.html' %}

{% block style %}
<style>
    .c-form {
        /* width: 30em; */
        /*width: 30%;*/
        height: 2.5em;

        border-radius: 6.25em;
        /*position: absolute;*/
        background-color: #FFFFFF;
        border-width: 1em;
        padding: 0.4em;
        box-sizing: border-box;
        /*display: flex;*/
        /*justify-content: end;*/
        align-items: center;
    }
    .c-form-input {
        font: inherit;
        border: 0;
        outline: 0;
        border-radius: 5em;
        box-sizing: border-box;
        color: #000000;
        height: 100%;
        width: 100%;
        padding: 0 0.714em;
    }
    .lol {
        background-color: #5b0b6f;
        border: rgb(0, 238, 12);
        border-width: 1px;
    }
</style>
{% endblock %}

{% block script %}
    <script>
    updateThumbNailName = function() {
        var input = document.getElementById('thumbnail-upload');
        $("#resourceThumbNailName").text(input.files.item(0).name);
    }
    </script>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class='container'>
    <div class="row p-3">
        <div class="col-12 d-flex justify-content-center" style="margin-top: 2rem!important; margin-bottom: 2rem!important;">
            <!-- logo and title -->
            <img src="{{url_for('static', filename='img/logo.png')}}" , alt="Logo" , width="300">
        </div>
    </div>

    <div class="row p-3">
        <div class="col-12 d-flex justify-content-center">
            <h2>Create Account</h2>
        </div>
    </div>
    <form method="POST" action="{{url_for('register')}}">
        <!-- CSRF TOKEN -->
        {{ form.csrf_token }}
        <!-- input fields -->
        <!-- Username -->
        <div class="row p-3 align-items-center justify-content-center">
            <div class="col-4 d-flex justify-content-end">Username:</div>
            <div class="col-4 d-flex justify-content-center">
                <div class="c-form" style="width: 100%;">
                    {{ form.username(class_="c-form-input", style="background-color: #d4ebff!important;") }}
                </div>
            </div>
            <div class="col-4 d-flex justify-content-start"></div>
        </div>
        {% if data['username'] %}
            <div class="row justify-content-center" style="color: red;">
                {{data['username']}}
            </div>
        {% endif %}
        <!-- Email -->
        <div class="row p-3 align-items-center justify-content-center">
            <div class="col-4 d-flex justify-content-end">Email:</div>
            <div class="col-4 d-flex justify-content-center">
                <div class="c-form" style="width: 100%;">
                    {{ form.email(class_="c-form-input", style="background-color: #d4ebff!important;") }}
                </div>
            </div>
            <div class="col-4 d-flex justify-content-start"></div>
        </div>
        {% if data['emailUsed'] %}
            <div class="row justify-content-center" style="color: red;">
                {{data['emailUsed']}}
            </div>
        {% endif %}

        <!-- Password -->
        <div class="row p-3 align-items-center justify-content-center">
            <div class="col-4 d-flex justify-content-end">Password:</div>
            <div class="col-4 d-flex justify-content-center">
                <div class="c-form" style="width: 100%;">
                    {{ form.password(class_="c-form-input", style="background-color: #d4ebff!important;") }}
                </div>
            </div>
            <div class="col-4 d-flex justify-content-start"></div>
        </div>
        {% if data['passwordMsg'] %}
            <div class="row justify-content-center" style="color: red;">
                {{data['passwordMsg']}}
            </div>
        {% endif %}

        <!-- Password Confirmation -->
        <div class="row p-3 align-items-center justify-content-center">
            <div class="col-4 d-flex justify-content-end">Confirm Password:</div>
            <div class="col-4 d-flex justify-content-center">
                <div class="c-form" style="width: 100%;">
                    {{ form.passwordConfirm(class_="c-form-input", style="background-color: #d4ebff!important;") }}
                </div>
            </div>
            <div class="col-4 d-flex justify-content-start"></div>
        </div>
        {% if data['passwordDif'] %}
            <div class="row justify-content-center" style="color: red;">
                Passwords do not match!
            </div>
        {% endif %}

        <!-- Teacher Authentication -->
        <div class="row p-3 align-items-center justify-content-center">
            <div class="col-3"> </div>
            <div class="col-4" style="margin: 1rem; margin-bottom: 0.5rem!important; width: 50%" >
                <label for="Bodyform" class="form-label" style="font-weight: bold; font-size: larger">Teacher Authentication</label>
                <!-- Help documentation-->
                <label title="Upload a single file which contains documentation that cofirms you are a teacher.&nbsp<br>&nbsp;&nbsp<br>&nbsp;If you wish to submit multiple
                                                              files, we recommend zipping them together"
                       data-bs-toggle="popover" data-bs-placement="right" data-content="Content" data-bs-html = "true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="17" fill="currentColor" class="bi bi-question-circle" style = "margin-bottom: 6px" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                    </svg>
                </label>
                <div class="card flex-fill" id="thumbnailUpload" style="width: 60%">
                    <div class="row">
                        <div class = "col-6">
                            <dd id="resourceThumbNailName" class="font-weight-bold" style="margin: 1rem!important;"> Upload Teacher Authentication Here
                            </dd>
                        </div>
                        <div class = "col-6">
                            <label for="thumbnail-upload" class="btn btn-primary btn" style = "margin: 1rem; margin-left: 8rem!important; margin-right: 0rem!important;">
                                Upload File
                            </label>
                            <input type="file" name="thumbnail" id = "thumbnail-upload" style="display:none;" onchange="javascript:updateThumbNailName()"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-start"> </div>
        </div>
            <!-- buttons -->
            <div class="row p-3">
                <div class="col-6 d-flex justify-content-end p-3">
                    <input type="submit" class="btn btn-primary" value="Register">
                </div>
                <div class="col-6 d-flex justify-content-start p-3">
                    <a href="{{ url_for('home') }}" class="btn btn-outline-danger">Cancel</a>
                </div>
            </div>

    </form>
</div>

     <!--This handles the popover for the help documentation-->
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function(popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
})
    </script>

{% endblock %}