{% extends 'base.html' %}

{% block style %}
<style>
    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
</style>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row p-3">
        <!-- Resource Thumbnail -->
        <div class="col d-flex">
            <div class="card">
                <img src="{{url_for('static', filename='img/placeholder.png')}}" , alt="Logo" , width="900" ,
                    height="200">
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <a class="btn btn-info">&#10730; View Resource</a>
                <p><small>Redirects to resource item<br> (TODO RESOURCE TYPE)</small></p>
                <br>
                {# No longer used
                <button class="btn btn-info">&#9998; Annotate</button>
                <br> #}
                <p><strong>Subject: </strong>
                    <span class="badge rounded-pill bg-subject-tag">
                            {{subject}}
                    </span>
                </p>
                <p><strong>Year Level: </strong>
                    <span class="badge rounded-pill bg-year-tag">
                            {{grade}}
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="card shadow" style="border-radius: 15px">
            <p class="h3 card-title">{{res.title}}</p>
            <div class="d-flex">
                <p><strong>Rating&nbsp;&nbsp;</strong></p>
                <img src="{{url_for('static', filename='img/up.png')}}" , alt="Down" , width="20" , height="20">
                <p class="card-text px-1">&nbsp;{{res.upvote_count}}&nbsp;&nbsp;</p>
                <img src="{{url_for('static', filename='img/down.png')}}" , alt="Down" , width="20" , height="20">
                <p class="card-text px-1">&nbsp;{{res.downvote_count}}</p>
            </div>
            <p><strong>Visibility:&nbsp;</strong>
                {% if res.is_public %}
                    Public
                {% else %}
                    Private
                {% endif %}
            </p>
            <p><strong>Tags:&nbsp;&nbsp;</strong>
                {% for tag in resource_tags %}
                <span class="badge rounded-pill bg-other-tag">
                    {{tag}}
                </span>
                {% endfor %}
                {% if resource_tags | length == 0 %}
                    No additional tags
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row p-3">
        <div class="card shadow" style="border-radius: 15px">
            <p class="h4 card-title">Description</p>
            <div class="card-body">
                <p>{{res.description}}</p>
                <hr class="px-3">
            </div>
            <p class="h3 card-title">Author</p>
            <div class="row">
                <div class="col-1" align="center">
                    <img class="avatar" src="{{url_for('static', filename='img/placeholder.png')}}" , alt="Logo">
                </div>
                <div class="col">
                    <div class="row">
                        <p class="h6">[Author Name]</p>
                    </div>
                    <div class="row">
                <p><small>[Author Bio]</small></p>

                    </div>

            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="card shadow" style="border-radius: 15px">
            <p class="card-title">Comments</p>
            <p>[Comments go here]</p>
            {% for comm in comment %}
            <div class="card-body">
                <div class="row p-3">
                    <div class="col d-flex">
                        <img class="avatar" src="{{url_for('static', filename='img/placeholder.png')}}" , alt="Logo">
                    </div>
                    <div class="col">
                        <p class="h5">[Author Name]</p>
                        <p>[Comment content]</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}