{% extends 'base.html' %}

{% block style %}
    <style>
        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }
        .btn-primary {
            background-color: #ff8fab;
            color: white;
            border-color: #ff8fab;
        }
        .btn-primary:hover {
            color:white;
            background-color: #3a78ef;
        }

        .btn-outline-primary {
            background-color: rgb(255, 255, 255);
            color:#000000;
            border-color: white;
        }

        .btn-outline-primary:hover {
            color:white;
            background-color: #3a78ef;
        }

        .btn-check:checked+.btn-outline-primary {
            color: white;
            background-color:  #ff8fab;
            border-color:   #ff8fab;
        }
        .bg-primary {
            background-color: #ff8fab!important;
        }
        .btn-close {
            width: 0.5rem;
            height: 0.5rem;
        }

        .banner-image {
          border-radius: 100px;
      }

      .profile-image {
          margin-top: -25px;
          margin-left: -25px;
          border-radius: 500px;
      }
    </style>
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 3rem!important;">
    <!-- Title Section -->
    <div class="row">
        <dt class="col-sm-9" style="font-size: x-large; margin-top:2rem!important; margin-bottom: 2rem!important;">
            Basic Settings
        </dt>
    </div>

    <div class="col d-flex justify-content-md-between">
         <form name="edit_form" id="edit_form" class="form-outline flex-fill"
               action="{{ url_for('settings') }}" method="post" enctype="multipart/form-data"
               onsubmit="return validate_settings()">
             <div class="card flex-fill shadow-sm">
                 <!-- Edit Profile Pic/Banner -->
                 <div class="row">
                     <div class="col">
                         <div class="row pe-5">
                             <div class="col text-center" style="margin-top: 3rem">
                                 <img id="avatar" src="{{ url_for('static', filename=user_info['avatar_link']) }}"
                                      class="profile-image" width="312px" height="312px">
                             </div>
                         </div>
                         <div style="margin-top: 0rem!important;" class="row pe-5">
                             <div class="col text-center">
                                 <input type="file" id="avatar_upload" style="display:none;" name="avatar">
                                 <button type="button" id="avatar_upload_button"
                                         class="btn btn-primary btn" style="margin-top:
                                 1rem; margin-bottom: 1rem; border-radius: 100px">Change Profile Picture</button>
                             </div>
                         </div>
                     </div>
                     <div class="col">
                         <div class="row">
                             <div class="col" style="margin-top: 5rem; margin-right: 2rem; margin-left: 0">
                                 <img  src="{{ url_for('static', filename=user_info['profile_background_link']) }}"
                                      class="banner-image" height="250" id="profile_background">
                             </div>
                         </div>
                         <div class="row pe-5">
                             <div class="col text-center" style="margin-top: 0.5rem!important;">
                                 <input type="file" id="background_upload" style="display:none;" name="profile_background">
                                 <button type="button" class="btn btn-primary btn"
                                         id="background_upload_button" style="margin-top: 1rem; margin-bottom: 1rem;
                                 border-radius: 100px">Change Profile Background</button>
                             </div>
                         </div>
                     </div>
                     {# show upload window when change profile picture or change profile background is clicked #}
                                 <script type="text/javascript">
                                     $("#avatar_upload_button").click(
                                         function () {
                                             $("#avatar_upload").trigger("click");

                                             // show default avatar as thumbnail
                                             $("#avatar").attr("src",
                                                 "{{ url_for('static', filename='avatar/default_profile.png') }}");
                                         })

                                     $('#background_upload_button').click(
                                         function () {
                                             $("#background_upload").trigger('click');

                                             // show default profile background as thumbnail
                                            $("#profile_background").attr("src",
                                            "{{ url_for('static', filename='img/placeholder.png') }}")
                                         }
                                     )
                                 </script>
                 </div>
                 <!-- email (fake, do not change in DB) -->
                <div class="mb-3 row" style="margin: 1rem!important;">
                    <label style="font-size: large; font-weight:inherit" for="inputInstitution" class="col-sm-1 col-form-label">Email</label>
                    <div class="col-sm-7">
                        <input class="form-control required" value="{{ user_info['email'] }}" id="email" name="email" type="email">
                    </div>
                </div>

                 <!-- Username -->
                 <div class="mb-3 row" style="margin: 1rem!important;">
                     <label style="font-size: large; font-weight:inherit" for="inputPosition" class="col-sm-1 col-form-label">Username</label>
                     <div class="col-sm-7">
                         <input class="form-control required" value="{{ user_info['username'] }}"
                                 name="username" type="text" id="username">
                     </div>
                 </div>

                <!-- Bio -->
                <div class="mb-3" style="margin: 1rem!important;">
                    <label for="Titleform" class="form-label" style="font-weight: inherit;
                    font-size: larger">Edit Bio</label>

                    <textarea class="form-control" rows="7" name="bio" type="text">{{ user_info['bio'] }}</textarea>
                </div>
             </div>

            <!-- Password -->
             <dt class="col-sm-9" style="font-size: x-large; margin-top:2rem!important; margin-bottom: 2rem!important;">
                 Change Password
             </dt>

            <div class="card flex-fill shadow-sm">
                <!-- Old Password -->
                <div class="mb-3 row" style="margin: 1rem!important;">
                    <label style="font-size: large; font-weight:inherit" for="inputOldPassword" class="col-sm-2 col-form-label">Current Password</label>
                    <div class="col">
                        <input class="form-control required" id="old_password" name="old_password" type="password">
                    </div>
                </div>

                <!-- New Password -->
                <div class="mb-3 row" style="margin: 1rem!important;">
                    <label style="font-size: large; font-weight:inherit" for="inputNewPassword"  class="col-sm-2 col-form-label">New Password</label>
                    <div class="col">
                        <input class="form-control required" id="new_password" name="new_password" type="password">
                    </div>
                </div>

                <!-- Confirm New Password -->
                <div class="mb-3 row" style="margin: 1rem!important; margin-bottom: 0; padding-bottom: 0">
                    <label style="font-size: large; font-weight:inherit" for="inputConfirmPassword" class="col-sm-2 col-form-label">Confirm New Password</label>
                    <div class="col">
                        <input class="form-control required" id="confirm_password" type="password">
                    </div>
                </div>
                {# show if the two password macthes #}
                <span id="password_msg" ></span>
                {# check if new password and confirm password matches #}
                <script type="text/javascript">
                    $("#new_password, #confirm_password").on("keyup",
                        function () {
                            var password = $("#new_password").val();
                            var confirm = $("#confirm_password").val();
                            if (password === confirm && password === "") {
                                // empty password, hide match word
                                 $("#password_msg").attr("style", "display:none;");
                            } else {
                                $("#password_msg").attr("style", "display:block;");
                                if (password === confirm) {
                                    $("#password_msg").html("New password matching").css("color", "green");
                                } else {
                                    $("#password_msg").html("New password does not match").css("color", "red");
                                }
                            }
                        }
                    );
                </script>
            </div>

            <!-- Tags -->
            <dt class="col-sm-9" style="font-size: x-large; margin-top:2rem!important; margin-bottom: 2rem!important;">
                 Change Tags
             </dt>

            <div class="card flex-fill shadow-sm">
                <!-- Tags-->
                <div class="mb-3 row" style="margin: 1rem!important; margin-left: 5rem!important; margin-right: auto">
                    <label for="inputConfirmPassword" style="font-size: large; font-weight:inherit" class="col-sm-1 col-form-label">Add Tags</label>
                    <div style="margin-left: inherit" class="col-8">
                        <input class="form-control" list="datalistOptions3" id="exampleDataList3" placeholder="Search Tags...">
                    </div>
                </div>

                <div class="mb-3 row" style="margin: 1rem!important; margin-left: 5rem!important; margin-right: auto">
                    <label for="AppliedTags" style="font-size: large; font-weight:inherit" class="col-sm-1 col-form-label">My Tags</label>
                    <div class="col-8" style="margin-left: inherit">
                        <span class="badge rounded-pill bg-primary" style="width: auto; margin: 0.25rem!important;"> Applied tags go here
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </span>
                    </div>
                </div>
            </div>

             <div class="float-end mt-2 pt-1" style="margin-top: 1rem!important;">
                <!-- Button to update-->
                <input type="submit" name="submit" value="Update" form="edit_form" class="btn btn-primary btn" style="margin-right: 1rem!important;"/>
                 {# redirect to profile page #}
                <button type="Button" class="btn btn-outline-primary btn" onclick="window.location.href='{{ url_for('profile') }}';">Discard Draft</button>

             </div>
         </form>

        {# check if all required fields are filled #}
        <script type="text/javascript">
            function validate_settings() {
                var requirefFields = document.getElementsByClassName("required");
                if (requirefFields.email.value === "" ||
                    requirefFields.username.value === "") {
                    alert("Please ensure email and username are not empty")
                    return false;
                } else if (requirefFields.old_password.value !== "" &&
                    (requirefFields.new_password.value === "" ||
                    requirefFields.new_password.value !== requirefFields.confirm_password.value)) {
                    alert("Please ensure old password and new password are filled and " +
                        "new password matches confirm password")
                    return false;
                }
                return true;
            }
        </script>
    </div>
</div>

{% endblock %}